﻿@model Application.MainBoundedContext.DTO.AdministrationModule.StaticSettingDTO
@{
    ViewBag.Title = "Wizard";
    Layout = null;
}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Static Setting Information
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Key)
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                                @Html.TextBoxFor(model => model.Key, new { @class = "form-control required", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Value)
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                                @Html.TextBoxFor(model => model.Value, new { @class = "form-control required", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedBy)
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                                @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control required", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedDate)
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check-square"></i></span>
                                @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control required", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


