﻿@using Infrastructure.Crosscutting.Framework.Utils
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-check"></i>
        <strong>Success</strong> @TempData["Success"]
    </div>

}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error !</strong> @TempData["Error"]
    </div>

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Static Settings</a>
            </li>
            <li class="active">
                <strong>Index</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-md">
        <div class="col-lg-12">
            <div style="float: left">
                @Html.ActionLink("Create Setting", "Create", "staticsettings", new { Area = "ApplicationSettings" }, new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <table id="Grid" class="table table-striped table-bordered table-hover" style="width:100%;">
                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="width:80%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Static Settings Details
                    </h4>
                </div>
                <div class="modal-body">
                    <span id="test"></span>
                    <div id="detailsDiv">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        function LoadSettingDetailsById(id) {
        $.ajax({
            url: '@Url.Action("GetStaticSettingDetail", "StaticSetting",new {Area ="ApplicationSettings"})',
            data: {
                id: id
            },
            dataType: "html",
            type: "GET",
            success: function (data) {

                $("#detailsDiv").html(data);
                $("#SavingsProduct").modal('show');
            }

        });
    }
        $(document).ready(function () {

            $('#Grid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("StaticSettingList", "StaticSettings",new {Area ="ApplicationSettings"})",
                 "sServerMethod": "POST",
            // Callback settings
           "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
               /* row manipulation */

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                $('td:eq(3)', nRow).html(dt_Created);

               var editUrl = '<a class="btn btn-primary" href="staticsettings/edit/' + aData.Id + '">' + 'Edit</a>';

               var viewUrl =
                   '<a class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal" onclick="GetStaticSettingDetail(\'' +
                   aData.Id +
                   '\')" href="#">' +
                   'View</a>';

               $('td:eq(4)', nRow).html(viewUrl + '&nbsp;|&nbsp;' + editUrl);

               /* return*/
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "aoColumns": [

                { "mDataProp": "Key", "sTitle": "Key" },
                { "mDataProp": "Value", "sTitle": "Value" },
                { "mDataProp": "IsLocked", "sTitle": "Is Locked ?" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                { "mDataProp": "Commands", "sTitle": "Actions", "bSortable": false }
                ],

                "aaSorting": [[0, 'desc']],
                "dom": '<"html5buttons"B>lTfgitp',
                "buttons": [
                    { extend: 'copy' },
                    { extend: 'csv', title: 'Static Settings' },
                    { extend: 'excel', title: 'Static Settings' },

                ],
                "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000], [10, 25, 50, 100, 250, 500, 1000]]
        });

        });
        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}

