﻿@model Application.MainBoundedContext.DTO.ApplicationUserDTO
@{
    ViewBag.Title = "Approve";

    Layout = "~/Views/Shared/_Layout.cshtml";
    var companiesList = ViewBag.CompaniesList as List<SelectListItem>;
    var roleList = ViewBag.RolesList as List<SelectListItem>;

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("User", "Index", "Roles", new { Area = "Administration" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Approver User</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }
                    @using (Html.BeginForm("Approve", "Users", new { Area = "Administration" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Users Details</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required", @readonly = "@readonly" })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.OtherNames, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.OtherNames, new { @class = "form-control required", @readonly = "@readonly" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control required", @readonly = "@readonly" })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control required", @readonly = "@readonly" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control required", @readonly = "@readonly" })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @type = "number" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RoleName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control ", required = "required", @readonly = "@readonly" })
                                        @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IsExternalUser, new { @class = "control-label" })
                                        <br />
                                        @*@Html.EditorFor(a => a.IsExternalUser, new { @class = "input-md", @readonly = "@readonly" })*@
                                        @Html.TextBoxFor(model => model.IsExternalUser, new { @class = "form-control ", required = "required", @readonly = "@readonly" })
                                    </div>
                                </div>

                                @if (Model.CustomerId != null && Model.CustomerId != Guid.Empty)
                                {
                                    <div class="col-sm-3 isExternalUser">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CustomerId, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.CustomerId, new { @class = "form-control required", @readonly = "@readonly" })
                                        </div>
                                    </div>
                                }


                            </div>
                            <div class="row">
                                <div class="col-sm-3 isExternalUser">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Remarks, new { @class = "control-label" })
                                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control required" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")

    <!--customer lookup Script-->
    @Scripts.Render("~/bundle/custom/lookups/customer");

    <script type="text/javascript">

        $("div").on('click', 'input[type="checkbox"]', function () {
            event.preventDefault();
            event.stopPropagation();
        });


        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // If the current step is the confirmation page run the confirm method
                if (newIndex === 3) {
                    confirm();
                    //hide all buttons on the confirm step
                    $('input[type="button"]').hide();
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

                if (currentIndex !== 3) {
                    //hide all buttons on the confirm step
                    $('input[type="button"]').show();
                }

                // Suppress (skip) "Warning" step if the user is old enough.
                //if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                //    $(this).steps("next");
                //}

                //// Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                //if (currentIndex === 2 && priorIndex === 3) {
                //    $(this).steps("previous");
                //}
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                Key: {
                    required: true,
                    maxlength: 10,
                    minlength: 2
                }
            }
            //messages: {
            //    Key: {
            //        required: "This field is required",
            //        maxlength: "This field only allows 10 characters",
            //        minlength: "This field require minimumum"
            //    }
            //}
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

    </script>
}