﻿@model Application.MainBoundedContext.DTO.ApplicationUserDTO
@using MvcApplication.Helpers
@using Infrastructure.Crosscutting.Framework.Utils

@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
    var companiesList = ViewBag.CompaniesList as List<SelectListItem>;
    var roleList = ViewBag.RolesList as List<SelectListItem>;
    var designationList = ViewBag.DesignationsList as List<SelectListItem>;
    var superAdministrator = WellKnownUserRoles.SuperAdministrator.ToString();

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Users", "Index", "Users", new { Area = "Administration" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Create User</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @*<div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>*@

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }

                    @using (Html.BeginForm("Create", "Users", new { Area = "Administration" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>User Details</h1>
                        <fieldset>
                            <div id="userOriginal">
                                <div class="row">
                                    
                                        
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @type = "email" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control required", @placeholder = "+2547XXXXX" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @type = "number" })
                                        </div>
                                    </div>
                                    
                                </div>
                                    <div class="row">
                                        @if (User.Identity.IsInternalRole())
                                        {
                                            <div class="col-sm-3" id="dvIsExternalUser">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IsExternalUser, new { @class = "control-label" })
                                                    <br />
                                                    <input type="checkbox" name="IsExternalUser" id="IsExternalUser" class="check-box" />
                                                </div>
                                            </div>
                                        }
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AssignedRole, new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.RoleName, roleList, new { @class = "form-control ", required = "required" })
                                                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="dvPartner">
                                            @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                                            <div class="form-group">
                                                <div class="input-group" data-autoclose="true">
                                                    @Html.HiddenFor(x => x.CustomerId)
                                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
                                                    <span class="input-group-addon">
                                                        <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
</fieldset>
                        <h1>Finish</h1>
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                User Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="userConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="customerLookupModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Customer Lookup<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="customerLookupGrid" class="table table-striped table-bordered table-hover" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")

    <!--customer lookup Script-->
    @Scripts.Render("~/bundle/custom/lookups/customer");

    <script type="text/javascript">

        var maxLimitAmount = 0;

     

        function MaskCountryCode() {

            console.log('here');

             var prefix = "+2547"
            $("#PhoneNumber").append(prefix)

            }

        var superAdministrator = "@superAdministrator";

        $(document).ready(function () {

            $("#DailyLimitAmount").on("keyup", function () {

                if ($("#DesignationId").val() == "00000000-0000-0000-0000-000000000000") {

                    alert("Select Designation");

                    $("#DailyLimitAmount").val("");

                    return;
                }

                var amount = Number($(this).val());

                if (amount > Number(maxLimitAmount)) {

                    alert("Limit cannot be greater than " + maxLimitAmount);

                    $("#DailyLimitAmount").val(maxLimitAmount);

                }

            });

            if ($("#IsExternalUser").is(":checked")) {

                $("#dvPartner").show();

                $("#dvDesignation").show();

                $("#dvDailyLimit").show();

                $(this).val("1");

            } else {

                $("#dvPartner").hide();

                $("#dvDesignation").hide();

                $("#dvDailyLimit").hide();

                $(this).val("0");
            }

            $("#IsExternalUser").change(function () {

                if ($(this).is(":checked")) {

                    $("#dvPartner").show();

                    $("#dvDesignation").show();

                    $("#dvDailyLimit").show();

                    $(this).val("1");

                    UpdateExternalRole();

                } else {

                    $("#dvPartner").hide();

                    $("#dvDesignation").hide();

                    $("#dvDailyLimit").hide();

                    $(this).val("0");

                    UpdateRoles();
                }
            });


        });

            jQuery.validator.addMethod("EmailAddressValidator",
                function (value, element) {

                    var regex = new RegExp(/^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key)) {

                        return false;
                    }

                    return true;

                },
                "Invalid email address");

            jQuery.validator.addMethod("phoneNumberValidator",
                function (value, element) {

                    var regex = new RegExp(/^\+(?:[0-9] ?){6,14}[0-9]$/);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key) || key.length > 13 || key.length < 13) {

                        return false;
                    }
                    return true;

                },
                "Invalid Phone Number");


        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function(event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // If the current step is the confirmation page run the confirm method
                if (newIndex === 3) {
                    confirm();
                    //hide all buttons on the confirm step
                    $('input[type="button"]').hide();
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function(event, currentIndex, priorIndex) {

                if (currentIndex == 1) {
                    //hide all buttons on the confirm step
                    confirm();
                    $('input[type="button"]').hide();
                }

                // Suppress (skip) "Warning" step if the user is old enough.
                //if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                //    $(this).steps("next");
                //}

                //// Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                //if (currentIndex === 2 && priorIndex === 3) {
                //    $(this).steps("previous");
                //}
            },
            onFinishing: function(event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function(event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function(error, element) {
                element.before(error);
            },
            rules: {
                Key: {
                    required: true,
                    maxlength: 10,
                    minlength: 2
                },
                Email: {
                    EmailAddressValidator:true,
                },
                PhoneNumber: {
                    phoneNumberValidator: true,
                }
            }
            //messages: {
            //    Key: {
            //        required: "This field is required",
            //        maxlength: "This field only allows 10 characters",
            //        minlength: "This field require minimumum"
            //    }
            //}
        });

        function confirm() {
            //Charge Information Section
            $("#userConfirm").empty();
            $("#userOriginal").clone().appendTo("#userConfirm");

            //get original selects into a jq object
            var $originalSelects = $("#userOriginal").find('select');

            $("#userConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects.eq(index).val());

            });

            $("#userConfirm :input").attr("disabled", true);

        }

        $(document).ajaxStart(function() {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function() {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });



    </script>
}