﻿@model Application.MainBoundedContext.DTO.ApplicationUserDTO
@using Infrastructure.Crosscutting.Framework.Utils
@{
    ViewBag.Title = "Edit";

    Layout = "~/Views/Shared/_Layout.cshtml";
    var companiesList = ViewBag.CompaniesList as List<SelectListItem>;
    var roleList = ViewBag.RolesList as List<SelectListItem>;
    var designationList = ViewBag.DesignationsList as List<SelectListItem>;
    var superAdministrator = WellKnownUserRoles.SuperAdministrator.ToString();
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Users", "Index", "Users", new { Area = "Administration" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Edit User</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }

                    @using (Html.BeginForm("Edit", "Users", new { Area = "Administration" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.RecordStatus);

                        <h1>Users Details</h1>
                        <fieldset>
                            <div id="userOriginal">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p><strong>Please edit user : </strong><a href="/Registry/AccountManagers/Index/" class="text-info">here</a></p>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.OtherNames, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.OtherNames, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control required", disabled = "disabled", @name = "user_name", id = "user_name" })
                                            @Html.HiddenFor(model => model.UserName)
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "+2547XXXXXXXX" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.RoleName, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.RoleName, roleList, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(model => model.IsEnabled, new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.CheckBoxFor(model => model.IsEnabled, new { @class = "input-md" })
                                            @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IdNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.IdNumber, new { @class = "form-control", @placeholder = "234XXX" })
                                            @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger", @type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.KRAPin, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.KRAPin, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.KRAPin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NHIFNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.NHIFNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NHIFNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.NSSFNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.NSSFNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.NSSFNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BankAccount, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.BankAccount, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.BankAccount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GrossSalary, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.GrossSalary, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.GrossSalary, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Finish</h1>
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                User Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="userConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="customerLookupModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Customer Lookup<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="customerLookupGrid" class="table table-striped table-bordered table-hover" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")

    <!--customer lookup Script-->
    @Scripts.Render("~/bundle/custom/lookups/customer");

    <script type="text/javascript">



        var superAdministrator = "@superAdministrator";

        $(document).ready(function() {

            if ($("#RoleName").val() != superAdministrator) {
                $("#dvIsExternalUser").show();
            } else {
                $("#dvIsExternalUser").hide();
            }

            if ($("#dvIsExternalUser div.form-group input").is(":checked") &&
                $("#RoleName").val() != superAdministrator) {

                $("#dvPartner").show();

                $("#dvDesignation").show();

                $("#dvDailyLimit").show();

            } else {

                $("#dvPartner").hide();

                $("#dvDesignation").hide();

                $("#dvDailyLimit").hide();
            }

            $("#RoleName").on("change",function () {

                if ($("#RoleName").val() != superAdministrator) {
                    $("#dvIsExternalUser").show();
                } else {
                    $("#dvIsExternalUser").hide();
                }

            });

        });


        $("div").on('click',
            '#dvIsExternalUser div.form-group input   ',
            function() {
                if ($(this).is(":checked") && $("#RoleName").val() != superAdministrator) {

                    $("#dvPartner").show();

                    $("#dvDesignation").show();

                    $("#dvDailyLimit").show();

                } else {

                    $("#dvPartner").hide();

                    $("#dvDesignation").hide();

                    $("#dvDailyLimit").hide();
                }

            });

            jQuery.validator.addMethod("phoneNumberValidator",
                function (value, element) {

                    var regex = new RegExp(/^\+(?:[0-9] ?){6,14}[0-9]$/);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key) || key.length > 13 || key.length < 13) {

                        return false;
                    }
                    return true;

                },
                "Invalid Phone Number");


            jQuery.validator.addMethod("EmailAddressValidator",
                function (value, element) {

                    var regex = new RegExp(/^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key)) {

                        return false;
                    }

                    return true;

                },
                "Invalid email address");

        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // If the current step is the confirmation page run the confirm method
                if (newIndex === 1) {
                    confirm();
                    //hide all buttons on the confirm step
                    $('input[type="button"]').hide();
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

                if (currentIndex !== 3) {
                    //hide all buttons on the confirm step
                    $('input[type="button"]').show();
                }

                // Suppress (skip) "Warning" step if the user is old enough.
                //if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                //    $(this).steps("next");
                //}

                //// Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                //if (currentIndex === 2 && priorIndex === 3) {
                //    $(this).steps("previous");
                //}
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                Key: {
                    required: true,
                    maxlength: 10,
                    minlength: 2
                },
                Email: {
                    EmailAddressValidator:true,
                },
                PhoneNumber: {
                    phoneNumberValidator: true,
                }
            }
            //messages: {
            //    Key: {
            //        required: "This field is required",
            //        maxlength: "This field only allows 10 characters",
            //        minlength: "This field require minimumum"
            //    }
            //}
        });

        function confirm() {
            //Charge Information Section
            $("#userConfirm").empty();
            $("#userOriginal").clone().appendTo("#userConfirm");

            //get original selects into a jq object
            var $originalSelects = $("#userOriginal").find('select');

            $("#userConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects.eq(index).val());

            });

            $("#userConfirm :input").attr("disabled", true);

        }

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}