﻿@using Infrastructure.Crosscutting.Framework.Utils
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="active">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-md">
        <div class="col-lg-12">
            <div style="float: left">
                @Html.ActionLink("Create", "Create", "Users", new { Area = "Administration" }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>@ViewBag.Title</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-times"></i>
                            <strong>Error!</strong> @TempData["Error"]
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-check"></i>
                            <strong>Success</strong> @TempData["Success"]
                        </div>
                    }
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="Grid" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="dataTables_empty">
                                                Loading data from server
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")


    <script type="text/javascript">

        var emailMessagesGrid;

        $(document).ready(function () {

            $('#Grid').DataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("Index", "Users", new {Area = "Administration"})",
                 "sServerMethod": "POST",
            // Callback settings
           "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
               /* row manipulation */

               var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

               var h = ("0" + createdDate.getHours()).slice(-2);

               var m = ("0" + createdDate.getMinutes()).slice(-2);

               var s = ("0" + createdDate.getSeconds()).slice(-2);

               var dt_Created = $.datepicker.formatDate("dd/mm/yy", createdDate) + " " + h + ":" + m + ":" + s;

               aData.CreatedDate = dt_Created;

               if (aData.IsEnabled == true)
                   $("td:eq(6)", nRow).html("YES");
               else
                   $("td:eq(6)", nRow).html("NO");

               $("td:eq(7)", nRow).html(dt_Created);

               var editUrl = '<a class="btn btn-primary  btn-xs m-b-sm" href="users/edit/' + aData.Id + '">' + 'Edit</a>';

               var disableUrl = '<a class="btn btn-primary  btn-xs m-b-sm btn-primary" href="users/disable/' + aData.Id + '">' + 'Disable</a>';

               var enableUrl = '<a class="btn btn-primary  btn-xs m-b-sm btn-primary" href="users/enable/' + aData.Id + '">' + 'Enable</a>';

               var approvalUrl = '<a class="btn btn-primary btn-xs m-b-sm" href="Users/Approve/' + aData.Id + '">' + 'Approve</a>';

               if (aData.RecordStatus == 2)
                   approvalUrl = '<a class="btn btn-default btn-xs m-b-sm" disabled href="/MakerChecker/Approvers/approvers/' + aData.Id + '">' + 'Approve</a>';

               if (aData.IsEnabled == true)
                   $('td:eq(8)', nRow).html(editUrl + ' ' + disableUrl + " " + approvalUrl);
               else {
                   $('td:eq(8)', nRow).html(editUrl + ' ' + enableUrl + " " + approvalUrl);
               }


                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "aaSorting": [[6, 'desc']],
            "aoColumns": [
                { "mDataProp": "FullName", "sTitle": "Full Name" },
                { "mDataProp": "Email", "sTitle": "Email" },
                { "mDataProp": "UserName", "sTitle": "UserName" },
                { "mDataProp": "PhoneNumber", "sTitle": "Mobile Number" },
                { "mDataProp": "RoleName", "sTitle": "Roles" },
                { "mDataProp": "RecordStatusDescription", "sTitle": "Record Status" },
                { "mDataProp": "IsEnabled", "sTitle": "Is Enabled" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                { "mDataProp": "UserName", "sTitle": "Action" }
                ],
                "dom": '<"html5buttons"B>lTfgitp',
                "buttons": [

                    { extend: 'csv', title: 'System Users' },
                    { extend: 'excel', title: 'System Users' },
                    { extend: 'pdf', title: 'System Users' }

                ],
                "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000], [10, 25, 50, 100, 250, 500, 1000]]

        });

        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}