﻿@model Application.MainBoundedContext.DTO.RegistryModule.CustomerDTO
@{
    ViewBag.Title = "Customer Details";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Customer Information</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="CustomerInfoOriginal">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TypeDesc, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.TypeDesc, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.RecordStatusDesc, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.RecordStatusDesc, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IsEnabled, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.IsEnabled, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Address</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="AddressDetailsOriginal">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressPhysical, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressPhysical, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressPostal, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressPostal, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressStreet, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressStreet, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressPostalCode, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressPostalCode, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressCity, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressCity, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressEmail, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressEmail, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressStreet, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressStreet, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressLandLine, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressLandLine, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.AddressMobileLine, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.AddressMobileLine, new { @class = "form-control required", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript">

    </script>
}