﻿@using Infrastructure.Crosscutting.Framework.Utils
@model Application.MainBoundedContext.DTO.RegistryModule.CustomerDTO


@{
    ViewBag.Title = "Edit";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var customerTypeSelectList = ViewBag.CustomerTypesSelectList as List<SelectListItem>;


}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Customer</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Customers", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Create Customer</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }

                    @using (Html.BeginForm("Edit", "Customers", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Primary Details</h1>
                        <fieldset>
                            <div id="primaryDetailsOriginal">
                                <div class="row">
                                    
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required", placeholder = "Name" } })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Type, new { @class = "control-label" })
                                            @Html.DropDownList("CustomerType", customerTypeSelectList, new { @class = "form-control ", required = "required", @onchange = "customerType()" })
                                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                             
                            </div>
                        </fieldset>

                        <h1>Address</h1>
                        <fieldset>
                            <div id="addressDetailsOriginal">
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressPhysical, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressPhysical, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressPhysical, new { htmlAttributes = new { @class = "form-control required", placeholder = "Physical Location" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressPostal, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressPostal, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressPostal, new { htmlAttributes = new { @class = "form-control", placeholder = "Postal Address" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressPostalCode, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressPostalCode, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Postal Code" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressCity, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressCity, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressCity, new { htmlAttributes = new { @class = "form-control required", placeholder = "City" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressStreet, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressStreet, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressStreet, new { htmlAttributes = new { @class = "form-control required", placeholder = "Street" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressLandLine, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressLandLine, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressLandLine, new { htmlAttributes = new { @class = "form-control", placeholder = "Land Line" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressMobileLine, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressMobileLine, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressMobileLine, new { htmlAttributes = new { @class = "form-control required", placeholder = "+2547XXXXXXXXX" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.AddressEmail, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AddressEmail, "", new { @class = "text-danger" })
                                            @Html.EditorFor(model => model.AddressEmail, new { htmlAttributes = new { @class = " tagsinput form-control required email", placeholder = "Email Address" } })
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-lg-3">
                                            @Html.LabelFor(model => model.LogoPath, htmlAttributes: new { @class = "control-label" })
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.LogoPath, new { htmlAttributes = new { type = "file", @class = "form-control required file" } })
                                                @Html.ValidationMessageFor(model => model.LogoPath, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </fieldset>

                        <h1>Finish</h1>
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Primary Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="primaryDetailsConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Address Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="addressDetailsConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")

    <!--customer lookup Script-->
    @Scripts.Render("~/bundle/custom/lookups/customer");
    @Scripts.Render("~/bundle/custom/lookups/UsersByRole");
    @Scripts.Render("~/bundle/custom/lookups/Branches");


    <script type="text/javascript">
        $(document).ready(function() {

            $(".hidden input").each(function() {
                $(this).attr('disabled', true);
            });

            jQuery.validator.addMethod("phoneNumberValidator",
                function (value, element) {

                    var regex = new RegExp(/^\+(?:[0-9] ?){6,14}[0-9]$/);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key) || key.length > 13 || key.length < 13) {

                        return false;
                    }
                    return true;

                },
                "Invalid Phone Number");

            jQuery.validator.addMethod("EmailAddressValidator",
                function (value, element) {

                    var regex = new RegExp(/^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key)) {

                        return false;
                    }

                    return true;

                },
                "Invalid email address");        

        });

        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function(event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                if (newIndex == 1) {
                    //hide all buttons on the confirm step
                    $('input[type="button"]').hide();
                    confirm();
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function(event, currentIndex, priorIndex) {

            },
            onFinishing: function(event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                console.log(form.validate().error);

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function(event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function(error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                },
                AddressMobileLine: {
                    phoneNumberValidator: true,
                },
                AddressEmail: {
                    EmailAddressValidator: true,
                },
                AddressLandLine: {
                    maxlength: 10,
                    minlength: 5,
                },
                AddressPostalCode: {
                    maxlength: 6,
                    minlength: 3
                },
                CommissionChargePayeeToPayPartRate: {
                    CommissionPartRateValidator:true,
                },
                CommissionChargePayeeToPayPartRate: {
                    CommissionPartRateValidator:true,
                }
            }
            });

        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });

        function confirm() {
            //Primary Details Information Section
            $("#primaryDetailsConfirm").empty();

            $("#primaryDetailsOriginal").clone().appendTo("#primaryDetailsConfirm");

            $("#primaryDetailsConfirm").find(".input-group-addon").remove();

            $("#primaryDetailsConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects = $("#primaryDetailsOriginal").find('select');

            $("#primaryDetailsConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects.eq(index).val());

            });

            $("#primaryDetailsConfirm :input").attr("disabled", true);

            //Address Details Information Section
            $("#addressDetailsConfirm").empty();

            $("#addressDetailsOriginal").clone().appendTo("#addressDetailsConfirm");

            $("#addressDetailsConfirm").find("input-group-addon").remove();

            $("#addressDetailsConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects = $("#addressDetailsOriginal").find('select');

            $("#addressDetailsConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects.eq(index).val());

            });

            $("#addressDetailsConfirm :input").attr("disabled", true);

        }

        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });

        $(document).ajaxStart(function() {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function() {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

    </script>
}