﻿@using Infrastructure.Crosscutting.Framework.Utils
@{
    ViewBag.Title = "Customers";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Customers</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-md">
        <div class="col-lg-12">
            <div style="float: left">
                @Html.ActionLink("Create", "Create", "Customers", new { Area = "Registry" }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>@ViewBag.Title</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @if (TempData["Result"] != null)
                    {
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Result"]
                        </div>
                    }

                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }
                    <div class="table-responsive">
                        <table id="customerGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="customerAccountsModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h3 class="font-bold">Customer Accounts <span id="#id"></span> <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="customerAccountGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="customerRoutesModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h3 class="font-bold">Customer Routes <span id="#id"></span> <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="customerRoutesGrid" class="table table-striped table-bordered table-hover" width="100%">
                            <tbody>
                                <tr>
                                    <td colspan="3" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="CustomerDetails" role="dialog">
        <div class="modal-dialog" style="width:80%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Customer Details
                    </h4>
                </div>
                <div class="modal-body">
                    <span id="test"></span>
                    <div id="detailsDiv">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    @Scripts.Render("~/bundle/custom/modals/customeraccountbycustomerid");
    @Scripts.Render("~/plugins/sweetAlert")

    <script type="text/javascript">

        function showResult() {
            swal({
                title: "Summary",
                text: "vdjvjf",
                type: "info"
            });

            console.log("jvnjb");
        }

        function LoadSettingDetailsById(id) {
            $.ajax({
                url: '@Url.Action("Details", "Customers", new {Area = "Registry"})',
                data: {
                    id: id
                },
                dataType: "html",
                type: "GET",
                success: function(data) {

                    $("#detailsDiv").html(data);
                    $("#CustomerDetails").modal('show');
                }
            });
        }



        $(document).ready(function() {

            var grid = $('#customerGrid').dataTable({
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "responsive": true,
                //"bJQueryUI": true,
                "sAjaxSource": "@Url.Action("Index", "Customers", new {Area = "Registry"})",
                "sServerMethod": "POST",
                "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                    var h = ("0" + createdDate.getHours()).slice(-2);

                    var m = ("0" + createdDate.getMinutes()).slice(-2);

                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;
                    aData.CreatedDate = dt_Created;

                    var editUrl = '<a href="/registry/customers/edit/' +aData.Id +'" class = "btn btn-primary  btn-xs"">' +'Edit</a>';

                    $('td:eq(4)', nRow).html(dt_Created);

                    var viewUrl =
                        '<a class="btn btn-primary  btn-xs" data-toggle="modal" data-target="#CustomerDetails" onclick="LoadSettingDetailsById(\'' +
                            aData.Id +
                            '\')" href="#">' +
                        'View</a>';

                    $('td:eq(5)', nRow).html(editUrl + ' ' + viewUrl);

                    return nRow;
                },
                "aoColumns": [
                    { "mDataProp": "TypeDesc", "sTitle": "Type", "bSortable": false },
                    { "mDataProp": "Name", "sTitle": "Name", "bSortable": false },
                    { "mDataProp": "RecordStatusDesc", "sTitle": "Record Status", "bSortable": false },
                    { "mDataProp": "AddressEmail", "sTitle": "Email", "bSortable": false },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action", "bSortable": false }
                ],
                "aaSorting": [[5, "desc"]],
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                   
                    { extend: 'csv', title: 'Customers'  },
                    { extend: 'excel', title: 'Customers' },
                    { extend: 'pdf', title: 'Customers' }
                    
                ]
            });

            $("#Grid_filter input").unbind();

            $("#Grid_filter input").keyup(function (e) {

                var value = this.value;

                if (value.length >= 5) {

                    $("#customerGrid").dataTable().fnFilter(this.value);
                }
            });
        });

        $(document).ajaxStart(function() {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function() {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}