﻿@{
    ViewBag.Title = "Text Alerts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Text Messages</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="active">
                <strong>Text Alerts</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>@ViewBag.Title</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Success"]
                        </div>
                    }
                    else if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group" id="data_5">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <span class="input-group-addon">Start Date</span>
                                        @Html.TextBox("startDate", DateTime.Today.AddDays(-14).ToString("dd-MM-yyyy"), new { @class = "form-control-lg form-control" })
                                        <span class="input-group-addon">End Date</span>
                                        @Html.TextBox("endDate", DateTime.Today.ToString("dd-MM-yyyy"), new { @class = "form-control-lg form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="Grid" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7" class="dataTables_empty">
                                                Loading data from server
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")


    <script type="text/javascript">

    $(document).ready(function () {

        $('#data_5 .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: 'dd-mm-yyyy',
            onSelect: function (d, i) {
                if (d !== i.lastVal) {
                    $(this).change();
                }
            }
        });

        var grid = $('#Grid').dataTable({
            "bretrieve": true,
            "sPaginationType": "full_numbers",
            "bProcessing": true,
            "bServerSide": true,
            "responsive": true,
            "sAjaxSource": "@(Url.Action("Index", "TextAlerts", new { Area = "Messaging"}))",
            "sServerMethod": "POST",
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h_createdDate = ("0" + createdDate.getHours()).slice(-2);

                var m_createdDate = ("0" + createdDate.getMinutes()).slice(-2);

                var s_createdDate = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h_createdDate + ":" + m_createdDate + ":" + s_createdDate;

                $('td:eq(6)', nRow).html(dt_Created);

                return nRow;
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "startDate", "value": $("#startDate").val() });
                aoData.push({ "name": "endDate", "value": $("#endDate").val() });
            },
            "aoColumns": [
                { "mDataProp": "CustomerName", "sTitle": "Customer", "bSortable": false },
                { "mDataProp": "SMSRecipient", "sTitle": "Recipient", "bSortable": false },
                { "mDataProp": "MaskedSMSBody", "sTitle": "Message", "bSortable": false },
                { "mDataProp": "SMSDLRStatusDescription", "sTitle": "DLR Status", "bSortable": false },
                { "mDataProp": "IsSent", "sTitle": "Sent ?", "bSortable": false },
                { "mDataProp": "IsCharged", "sTitle": "Charged ?", "bSortable": false },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" }],
            "aaSorting": [[6, "desc"]],
            "responsive": true,
            "dom": '<"html5buttons"B>lTfgitp',
            "buttons": [
               
                { extend: 'csv', title: 'Text Messages' },
                { extend: 'excel', title: 'Text Messages' },
                { extend: 'pdf', title: 'Text Messages' }
                
            ]
        });

        $("#Grid_filter input").unbind();

        $("#Grid_filter input").keyup(function (e) {

            var value = this.value;

            if (value.length >= 5) {

                $("#Grid").dataTable().fnFilter(this.value);
            }
        });
    });

    $(document).ajaxStart(function () {
        $('.ibox').children('.ibox-content').toggleClass('sk-loading');
    });
    $(document).ajaxStop(function () {
        $('.ibox').children('.ibox-content').toggleClass('sk-loading');
    });
    </script>
}