﻿@model Application.MainBoundedContext.DTO.AdministrationModule.DeductionDTO
@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var deductionTypeSelectList = ViewBag.DeductionTypesSelectList as List<SelectListItem>;

    var frequencyTypeSelectList = ViewBag.FrequencyTypesSelectList as List<SelectListItem>;


}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Deductions</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Deductions", new { Area = "HumanResource" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Edit Deduction</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }
                    @using (Html.BeginForm("Edit", "Deduction", new { Area = "HumanResource" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Deduction</h1>
                        <fieldset>
                            <div id="DeductionOriginal">
                                <div class="row">
                                    <div class="col-sm-3" id="dvEmployee">
                                        @Html.LabelFor(model => model.EmployeeEmployeeNames, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            <div class="input-group" data-autoclose="true">
                                                @Html.HiddenFor(x => x.EmployeeId)
                                                @Html.EditorFor(model => model.EmployeeEmployeeNames, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.DeductionType, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.DeductionType, deductionTypeSelectList, new { @class = "form-control ", required = "required" })
                                    </div>

                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Frequency, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Frequency, frequencyTypeSelectList, new { @class = "form-control ", required = "required" })
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control required", placeholder = "Amount" } })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="col-lg-3">
                                        <br />
                                        <br />
                                        <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Submit</strong></button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        @*<h1>Finish</h1>
                            <fieldset>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    Deduction
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div id="DeductionConfirm">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="customerLookupModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Employee Lookup<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="customerLookupGrid" class="table table-striped table-bordered table-hover" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Styles{

    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}




@section Scripts{
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundle/custom/lookups/employee");
    <script type="text/javascript">

        $(document).ready(function () {

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });
            $("#wizard").steps();

            //$("#form").steps({
            //    bodyTag: "fieldset",
            //    onStepChanging: function (event, currentIndex, newIndex) {
            //        // Always allow going backward even if the current step contains invalid fields!
            //        if (currentIndex > newIndex) {
            //            return true;
            //        }

            //        // If the current step is the confirmation page run the confirm method
            //        if (newIndex == 1) {
            //            confirm();
            //            //hide all buttons on the confirm step
            //            $('input[type="button"]').hide();
            //        }

            //        var form = $(this);

            //        // Clean up if user went backward before
            //        if (currentIndex < newIndex) {
            //            // To remove error styles
            //            $(".body:eq(" + newIndex + ") label.error", form).remove();
            //            $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            //        }

            //        // Disable validation on fields that are disabled or hidden.
            //        form.validate().settings.ignore = ":disabled,:hidden";

            //        // Start validation; Prevent going forward if false
            //        return form.valid();
            //    },
            //    onStepChanged: function (event, currentIndex, priorIndex) {

            //        if (currentIndex !== 1) {
            //            //hide all buttons on the confirm step
            //            $('input[type="button"]').show();
            //        }
            //    },
            //    onFinishing: function (event, currentIndex) {
            //        var form = $(this);

            //        // Disable validation on fields that are disabled.
            //        // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            //        form.validate().settings.ignore = ":disabled";

            //        // Start validation; Prevent form submission if false
            //        return form.valid();
            //    },
            //    onFinished: function (event, currentIndex) {
            //        var form = $(this);

            //        // Submit form input
            //        form.submit();
            //    }
            //}).validate({
            //    errorPlacement: function (error, element) {
            //        element.before(error);
            //    },
            //    rules: {

            //    },
            //    messages: {

            //    }
            //});


            function confirm() {

                //Charge Information Section
                $("#DeductionConfirm").empty();
                $("#DeductionOriginal").clone().appendTo("#DeductionConfirm");

                //get original selects into a jq object
                var $originalSelects = $("#DeductionOriginal").find('select');

                $("#DeductionConfirm").find('select').each(function (index, item) {

                    //set new select to value of old select
                    $(item).val($originalSelects.eq(index).val());

                });
                $("#DeductionConfirm :input").attr("disabled", true);

            }

            //$(document).ajaxStart(function () {
            //    $('.ibox').children('.ibox-content').toggleClass('sk-loading');
            //});

            //$(document).ajaxStop(function () {
            //    $('.ibox').children('.ibox-content').toggleClass('sk-loading');
            //});


        });
    </script>
}


