﻿@model  WebApplication.Models.AccountViewModels.AccountLockScreenModel

@{
    Layout = null;

    var name = ViewBag.Name;
    var username = ViewBag.UserName;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DynamikoHRS | Lockscreen</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugins/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />

</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>401</h1>
        <h3 class="font-bold">Attention!...</h3>

        <div class="error-desc">
            Your account has been locked. Please contact you system administrator
            <br />
            <br /><a href="@Url.Action("Login", "Account",new {Area="authentication"})" class="btn btn-primary m-t">Login</a>
        </div>
    </div>

</body>

</html>
<!-- Section for main scripts render -->
@Scripts.Render("~/bundles/jquery")


<script type="text/javascript">
    $(document).ready(function () {
        location.hash = "noBack";
        $(window).on('hashchange', function () {
            location.hash = "noBack";

        });

        window.history.forward();
    });
</script>



