﻿@model WebApplication.Models.AccountViewModels.AccountLockScreenModel

@{
    Layout = null;

    var name = ViewBag.Name;
    var username = ViewBag.UserName;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DynamikoHRS | Lockscreen</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/plugins/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet" />
   
</head>

<body class="gray-bg">

<div class="lock-word animated fadeInDown">
    <span class="first-word">ACCOUNT </span><span>LOCKED</span>
</div>
<div class="middle-box text-center lockscreen animated fadeInDown">
    <div>
        <div class="m-b-md">
            <img alt="image" class="img-circle circle-border" src="~/Content/images/UserProfileBadge.png" style="max-height:100px;max-width:100px;" />
        </div>
        <h3>@name</h3>
        <p>You have been signed out of your account due to inactivity. Please enter your password below to resume your session.</p>
        @using (Html.BeginForm("LockScreen", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.HiddenFor(m => m.ReturnUrl)
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @*@Html.HiddenFor(m => m.Username, new {htmlAttributes = new { value = username}})*@
                
                <input type="hidden" name="Username" value="@TempData["Username"]"/>
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.Password, new {htmlAttributes = new {@class = "form-group", placeholder = "Password"}})
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary block full-width m-b form-group" style="background-color: #ba1871;">Unlock</button>
            </div>
        }
        @*<a href="@Url.Action("ForgotPassword", "Account")">
                <small>Forgot password?</small>
            </a>*@
    </div>
</div>

</body>

</html>
<!-- Section for main scripts render -->
@Scripts.Render("~/bundles/jquery")


<script type="text/javascript">
    $(document).ready(function () {
    location.hash = "noBack";
    $(window).on('hashchange', function () {
        location.hash = "noBack";
        
    });
    
        window.history.forward();
    });
</script>



