﻿@using System.Text.RegularExpressions
@model  WebApplication.Models.SecurityModel

@{
    ViewBag.Title = "Access Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var r = new Regex("(?<=[A-Z])(?=[A-Z][a-z]) |(?<=[^A-Z])(?=[A-Z]) |(?<=[A-Za-z])(?=[^A-Za-z])", RegexOptions.IgnorePatternWhitespace);

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@r.Replace(Model.Role.Name, " ")</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="active">
                <strong>Access Rights</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Modules</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-danger fade in hidden response-failed">
                        <button class="close" data-dismiss="alert">
                            <i class="fa-fw fa fa-times"></i>
                        </button>
                        Failed to update Access Rights
                    </div>
                    <div class="alert alert-success fade in hidden response-success">
                        <button class="close" data-dismiss="alert">
                            <i class="fa-fw fa fa-times"></i>
                        </button>
                        Access Right Updated Successfully
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="access-rights">
                                <ul>
                                    <li class="jstree-open">

                                        @r.Replace(Model.Role.Name, " ")

                                        @if (Model.Module != null)
                                        {
                                            <ul>
                                                @foreach (var module in Model.Module.ControllerCollection)
                                                {
                                                    <li class="jstree-closed">
                                                        @{
                                                            var index = module.ControllerName.IndexOf("Controller");

                                                            var moduleName = module.ControllerName.Substring(0, index);

                                                            moduleName = r.Replace(moduleName, " ");
                                                        }
                                                        <input type="hidden" name="@module.ControllerName" value="@module.Id" />
                                                        <span>@moduleName</span>

                                                        <ul>

                                                            @foreach (var action in module.ActionList)
                                                            {
                                                                if (Model.SelectedModules != null && Model.SelectedModules.Where(x => x.ModuleNavigationItemId == action.Id).FirstOrDefault() != null)
                                                                {
                                                                    <li data-jstree='{ "selected" : true, "opened" : true }'>
                                                                        @{
                                                                            var actionName = r.Replace(action.Name, " ");
                                                                        }
                                                                        <input type="hidden" name="@action.Name" value="@action.Id" />
                                                                        <span>@actionName</span>
                                                                    </li>

                                                                }
                                                                else
                                                                {
                                                                    <li>
                                                                        @{
                                                                            var actionName = r.Replace(action.Name, " ");
                                                                        }
                                                                        <input type="hidden" name="@action.Name" value="@action.Id" />
                                                                        <span>@actionName</span>
                                                                    </li>

                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" id="submit" value="" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="@Url.Content("~/Content/plugins/jsTree/style.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/plugins/jsTree")


    <script type="text/javascript">

        $(document).ready(function () {

            $('#submit').on("click", function (e, data) {

                var selectedModules = [];
                var selectedModuleNames = [];

                $("#access-rights").jstree("open_all");

                $("#access-rights ul").each(function (uli, uld) {

                    //console.log(uld);

                    $(this).find("li").each(function (lii, lid) {

                        var children = $(this).find("ul");

                        children.find("li").each(function (clii, clid) {

                            if ($(this).attr("aria-selected") == "true") {

                                var childInput = $(this).find("input");

                                var childId = childInput.val();

                                var childName = childInput.attr("name");

                                if (selectedModules.indexOf(childId) == -1) {
                                    selectedModules.push(childId);
                                    selectedModuleNames.push(childName);
                                }
                            }

                        });
                    });
                });

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/administration/security/index/@Model.Role.Id",
                    data: JSON.stringify(selectedModules),
                    dataType: "json",
                    success: function (data) {

                        $(".response-failed").addClass("hidden");
                        $(".response-success").addClass("hidden");

                        if (data == "0") {

                            $(".response-failed").removeClass("hidden");

                        } else if (data == "1") {

                            window.scrollTo(0,0);

                            $(".response-success").removeClass("hidden");

                        } else if (data="2") {
                        }

                    },
                    error: function () {

                        console.log("error");
                    }
                });

            });



            $('#access-rights').jstree({
                'core': {
                    'check_callback': true
                },
                "checkbox": {
                    real_checkboxes: true,
                    real_checkboxes_names: function (n) {
                        var nid = 0;
                        $(n).each(function (data) {
                            nid = $(this).attr("nodeid");
                        });
                        return (["check_" + nid, nid]);
                    },
                    two_state: true
                },
                'plugins': ['types', "sort", "checkbox"],
                'types': {
                    'default': {
                        'icon': 'fa fa-folder'
                    },
                    'html': {
                        'icon': 'fa fa-file-code-o'
                    },
                    'svg': {
                        'icon': 'fa fa-file-picture-o'
                    },
                    'css': {
                        'icon': 'fa fa-file-code-o'
                    },
                    'img': {
                        'icon': 'fa fa-file-image-o'
                    },
                    'js': {
                        'icon': 'fa fa-file-text-o'
                    }

                }
            });

        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}
