﻿@using Infrastructure.Crosscutting.Framework.Utils
@using WebApplication.Models
@model AccountViewModels.AccountForgotPasswordModel
@{
    Layout = null;
    ViewBag.Title = "ForgotPassword";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@DefaultSettings.Instance.ApplicationDisplayName | Forgot Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body style=" background-image: url(/Content/images/office.jpg); background-size: cover;">
    <div class="passwordBox animated fadeInUp" style="background-color: #a2a2a2;">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-check"></i>
                <strong>Success</strong> @TempData["Success"]
            </div>

        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong> @TempData["Error"]
            </div>
        }
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content" style="background-color: transparent;">

                    <h2 class="font-bold">Forgot password</h2>

                    <p>
                        Enter your username.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form action="@Url.Action("forgotpassword", "account", new {Area = "Authentication"})" method="POST" class="m-t" role="form">
                                @Html.HiddenFor(m => m.ReturnUrl)
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @*<input type="email" class="form-control" placeholder="Email address" required="">*@
                                    @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-group", placeholder = "Username", required = "required", autocomplete = "off" } })
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Send Reset Password Link</button>

                                <div class="note">
                                    <a href="@Url.Action("login", "account", new {Area = "Authentication"})"><i class="fa fa-smile-o"></i> I remembered my password!</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#"><span> <i class="fa fa-linkedin fa-2x"></i>  </span> </a> &nbsp; <a href="#"><span><i class="fa fa-twitter fa-2x"></i> </span> </a> &nbsp; <a href="#"> <span><i class="fa fa-facebook fa-2x"></i> </span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input:text,form").attr("autocomplete", "off");
        });
    </script>
</body>
</html>

