﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Forgot Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Forgot password confirmation</h2>

                    <p class="text-muted text-center">
                        Please check your email to reset your password.
                    </p>

                    <p class="text-muted text-center">
                        <small>Go back to login screen?</small>
                        <a href="@Url.Action("Login", "Account")">&nbsp;Login</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p class="m-t"> <small><strong>@Infrastructure.Crosscutting.Framework.Utils.DefaultSettings.Instance.ApplicationCopyright</strong></small> </p>
        </div>
    </div>
</body>
</html>

