﻿@using Infrastructure.Crosscutting.Framework.Utils
@using WebApplication.Models
@model AccountViewModels.AccountLoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@DefaultSettings.Instance.ApplicationDisplayName | Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>

</head>
<body style=" background-image: url(/Content/images/office.jpg); background-size: cover;">
    <div class="aligncenter" >
        <div class="loginColumns login-panel animated fadeInUp loginscreen col-md-offset-1" style="background-color: #a2a2a2;" width:600px;">
            <div class="row justify-content-center" style="margin-left:11px;">
                    <div class="col-md-12">
                        <div class="ibox-content" style="background-color:transparent;">

                            @using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.HiddenFor(m => m.ReturnUrl)
                                @Html.AntiForgeryToken()
                                <div>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-group", placeholder = "Username", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-group", placeholder = "Password", autocomplete = "off" } })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary block full-width m-b form-group">Login</button>
                                </div>
                                <a href="@Url.Action("forgotpassword", "account")" style="font:bold;">
                                    <small><i class="fa fa-smile"></i>Forgot password? </small>
                                </a>

                                <div class="pull-right">
                                    <a href="#"><span> <i class="fa fa-linkedin fa-2x"></i>  </span> </a> &nbsp; <a href="#"><span><i class="fa fa-twitter fa-2x"></i> </span> </a> &nbsp; <a href="#"> <span><i class="fa fa-facebook fa-2x"></i> </span></a>
                                </div>


                            }
                        </div>
                    </div>
                </div>
                <br />
                @Html.Partial("_Footer")

            </div>
    </div>
</body>
</html>
