﻿@{
    Layout = null;
    string userId = Request.QueryString["userId"];
    string token = Request.QueryString["code"];
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@Infrastructure.Crosscutting.Framework.Utils.DefaultSettings.Instance.ApplicationDisplayName | Reset Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Reset password</h2>

                    <div class="row">

                        <div class="col-lg-12">
                            @using (Html.BeginForm("ResetPassword", "Account", new { Area = "Authentication" }, FormMethod.Post, new { @class = "wizard-big", @id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("Token", token)
                                @Html.Hidden("UserId", userId)
                                @Html.ValidationMessage("IdentityResult", "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Enter your new password" required="" name="Password" AUTOCOMPLETE="off">
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Confirm your new password" required="" name="ConfirmPassword" AUTOCOMPLETE="off">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b" onclick="">Reset Password</button>

                                <p class="text-muted">
                                    <small>Already have an account?</small>
                                    <a href="@Url.Action("Login", "Account", new {Area = "Authentication" })">&nbsp;Login</a>
                                </p>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p class="m-t"> <small><strong>@Infrastructure.Crosscutting.Framework.Utils.DefaultSettings.Instance.ApplicationCopyright</strong></small> </p>
        </div>
    </div>
</body>
</html>