﻿@{
    ViewBag.Title = "Email Alerts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Email Messages</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="active">
                <strong>Email Alerts</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>@ViewBag.Title</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="Grid" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7" class="dataTables_empty">
                                                Loading data from server
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="emailViewModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Email<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="email-body" class="col-lg-12 no-borders" style="min-height:300px"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")


    <script type="text/javascript">

        var emailMessagesGrid;

        $(document).ready(function () {

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: 'dd-mm-yyyy',
                onSelect: function (d, i) {
                    if (d !== i.lastVal) {
                        $(this).change();
                    }
                }
            });

            if (emailMessagesGrid != undefined) {
                emailMessagesGrid.fnDestroy();
            };

            var grid = $('#Grid').dataTable({
                "bretrieve": true,
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "responsive": true,
                "sAjaxSource": "@(Url.Action("Index", "/EmailAlerts/", new { Area = "Messaging"}))",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                    var h_createdDate = ("0" + createdDate.getHours()).slice(-2);
                    var m_createdDate = ("0" + createdDate.getMinutes()).slice(-2);
                    var s_createdDate = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h_createdDate + ":" + m_createdDate + ":" + s_createdDate;
                    aData.CreatedDate = dt_Created;

                    var viewEmailUrl = '<a data-toggle="modal" data-target="#emailViewModal" class="btn btn-primary">View</a>';

                    $('td:eq(6)', nRow).html(dt_Created);
                    $('td:eq(7)', nRow).html(viewEmailUrl);

                    return nRow;
                },
            // Display settings
                "aoColumns": [
                    { "mDataProp": "MailMessageFrom", "sTitle": "From"},
                    { "mDataProp": "MailMessageTo", "sTitle": "To"},
                    { "mDataProp": "MailMessageCC", "sTitle": "CC"},
                    { "mDataProp": "MailMessageSubject", "sTitle": "Subject"},
                    { "mDataProp": "MailMessageDLRStatusDescription", "sTitle": "Status"},
                    { "mDataProp": "CreatedBy", "sTitle": "Created By"},
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                    { "mDataProp": "CreatedDate", "sTitle": "Action" }],
                "aaSorting": [[6, "desc"]],
                "responsive": true,
                "dom": '<"html5buttons"B>lTfgitp',
                "buttons": [
                   
                    { extend: 'csv', title: 'Email Messages' },
                    { extend: 'excel', title: 'Email Messages' },
                    { extend: 'pdf', title: 'Email Messages' }
                ],
            });

        $('#emailMessagesGrid tbody').on('click', 'tr', function () {

            var data = emailMessagesGrid.row(this).data();

            $("#email-body").contents().find('body').html(data.MaskedMailMessageBody);


        });

            $("#Grid_filter input").unbind();

            $("#Grid_filter input").keyup(function (e) {

                var value = this.value;

                if (value.length >= 5) {

                    $("#Grid").dataTable().fnFilter(this.value);
                }
            });

        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}