﻿@using Infrastructure.Crosscutting.Framework.Utils
<div class="footer" style="background-color: transparent; color:#fff; font:bold;">
    
    <div>
        <span>
            @DefaultSettings.Instance.ApplicationDisplayName
        </span> @DefaultSettings.Instance.ApplicationCopyright
    </div>
</div>
