﻿@using MvcApplication.Helpers
@using Infrastructure.Crosscutting.Framework.Utils
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">
                            @{var a = !string.IsNullOrWhiteSpace(User.Identity.GetUserFullName()) == true ? User.Identity.GetUserFullName() : User.Identity.Name; <strong class="font-bold"> @a</strong>

                            }
                        </span>
                        <span class="text-muted text-xs block">@User.Identity.GetUserRoleName() <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a href="@Url.Action("userprofile", "account", new { Area = "authentication" })">Profile</a></li>
                        <li><a href="@Url.Action("changepassword", "users", new { Area = "administration" })">Change Password</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    Dy
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboard")">
                <a href="@Url.Action("Dashboard", "Dashboard", new { Area = "" })"><i class="fa fa-bar-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Dashboard</span> </a>
            </li>

            @if (User.Identity.IsInternalRole())
            {
                <li class="@Html.IsSelected(area: "Registry")">
                    <a href="#"><i class="fa fa-pencil"></i> <span class="nav-label" data-i18n="nav.registry">Registry</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li class="@Html.IsSelected(area:"Registry",controller:"customers",action:"Index")"><a href="@Url.Action("index", "customers", new { Area = "registry" })">Customers</a></li>
                        @*<li class="@Html.IsSelected(area:"Registry",controller:"Employee",action:"Index")"><a href="@Url.Action("index", "Employee", new { Area = "registry" })">Employees</a></li>*@
                    </ul>
                </li>

                <li class="@Html.IsSelected(area: "Messaging")">
                    <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.messaging">Messages</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "EmailAlerts", cssClass: "in")">
                        <li class="@Html.IsSelected(area:"Messaging",controller:"EmailAlerts",action: "Index")"><a href="@Url.Action("Index", "EmailAlerts", new { Area = "Messaging" })">Email Alerts</a></li>
                        <li class="@Html.IsSelected(area:"Messaging",controller:"TextAlerts",action: "Index")"><a href="@Url.Action("Index", "TextAlerts", new { Area = "Messaging" })">Text Alerts</a></li>
                    </ul>
                </li>
            }

            @if (User.Identity.IsInternalRole())
            {
                <li class="@Html.IsSelected(area: "Administration")">
                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.administration">Administration</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Roles", cssClass: "in")">
                        <li class="@Html.IsSelected(area:"Administration",controller:"Roles",action: "Index")"><a href="@Url.Action("Index", "Roles", new { Area = "Administration" })">Roles</a></li>
                        <li class="@Html.IsSelected(area:"Registry",controller:"Employee",action: "index")"><a href="@Url.Action("index", "Employee", new { Area = "Registry" })">Employees</a></li>
                        <li class="@Html.IsSelected(area:"ApplicationSettings",controller:"TaxSetting",action: "Index")"><a href="@Url.Action("Index", "TaxSetting", new { Area = "ApplicationSettings" })">Tax Settings</a></li>
                        <li class="@Html.IsSelected(area:"Administration",controller:"Holidays",action: "Index")"><a href="@Url.Action("Index", "Holidays", new { Area = "Administration" })">Holidays</a></li>

                    </ul>
                </li>
            }

            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (User.Identity.IsUserInRole(new string[] { Infrastructure.Crosscutting.Framework.Utils.WellKnownUserRoles.Administrator.ToString() }))
                {
                    <li class="@Html.IsSelected(area: "Administration")">
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.administration">Administration</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Roles", cssClass: "in")">
                            <li class="@Html.IsSelected(area:"Registry",controller:"Employee",action: "index")"><a href="@Url.Action("index", "Employee", new { Area = "Registry" })">Employees</a></li>
                        </ul>
                    </li>
                }
            }

            @if (User.Identity.IsInternalRole())
            {
                <li class="@Html.IsSelected(area: "ApplicationSettings")">
                    <a href="#"><i class="fa fa-cog"></i> <span class="nav-label" data-i18n="nav.administration">Application Settings</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "StaticSettings", cssClass: "in")">
                        <li class="@Html.IsSelected(area:"ApplicationSettings",controller:"StaticSettings",action: "Index")"><a href="@Url.Action("Index", "StaticSettings", new { Area = "ApplicationSettings" })">Static Settings</a></li>

                    </ul>
                </li>
            }
            @if (User.Identity.IsInternalRole())
            {
                <li class="@Html.IsSelected(area: "HumanResource")">
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.administration">Human Resource</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Leave", cssClass: "in")">

                        <li class="@Html.IsSelected(area:"HumanResource",controller:"Nhif",action: "Index")"><a href="@Url.Action("index", "Nhif", new { Area = "HumanResource" })">NHIF</a></li>
                        <li class="@Html.IsSelected(area:"HumanResource",controller:"Nssf",action: "Index")"><a href="@Url.Action("index", "Nssf", new { Area = "HumanResource" })">NSSF</a></li>
                        <li class="@Html.IsSelected(area:"ApplicationSettings",controller:"TaxSetting",action: "Index")"><a href="@Url.Action("Index", "TaxSetting", new { Area = "ApplicationSettings" })">Tax Settings</a></li>


                    </ul>
                </li>
            }
            @if (User.Identity.IsExternalRole())
            {
                <li class="@Html.IsSelected(area: "HumanResource")">
                    <a href="#"><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.administration">Human Resource</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Leave", cssClass: "in")">
                        <li class="@Html.IsSelected(area: "HumanResource", controller: "Leave", action: "Index")"><a href="@Url.Action("Index", "Leave", new { Area = "HumanResource" })">Leaves</a></li>
                        @if (User.Identity.IsUserInRole(new string[] { "Super Administrator", "Administrator" }))
                        {
                            <li class="@Html.IsSelected(area: "HumanResource", controller: "PayRoll", action: "Index")"><a href="@Url.Action("Index", "PayRoll", new { Area = "HumanResource" })">PayRoll</a></li>
                        }
                        else
                        {
                            <li class="@Html.IsSelected(area: "HumanResource", controller: "PayRoll", action: "IndividualItemsIndex")"><a href="@Url.Action("IndividualItemsIndex", "PayRoll", new { Area = "HumanResource" })">PayRoll</a></li>
                        }
                        <li class="@Html.IsSelected(area: "HumanResource", controller: "Deductions", action: "Index")"><a href="@Url.Action("Index", "Deductions", new { Area = "HumanResource" })">Deductions</a></li>

                        @if (User.Identity.IsUserInRole(new string[] { "Super Administrator", "Administrator" }))
                        {
                            <li class="@Html.IsSelected(area: "HumanResource")">
                                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Leave", cssClass: "in")">
                                    <li class="@Html.IsSelected(area:"HumanResource",controller:"Leave",action: "AppliedLeave")"><a href="@Url.Action("AppliedLeave", "Leave", new { Area = "HumanResource" })">Applied  Leaves</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {

                        }

                    </ul>
                </li>

            }
            <li class="@Html.IsSelected(area:"Analytics")">
                <a href="#"><i class="fa fa-comments"></i> <span class="nav-label" data-i18n="nav.menulevels">Analytics</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(area:"analytics",action: "index",controller: "reports")">
                        <a href="@Url.Action("index", "reports",new {Area="analytics"})"><i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Reports</span> </a>
                    </li>
                    <li class="@Html.IsSelected(area:"analytics",action: "index",controller: "analytics")">
                        <a href="@Url.Action("index", "analytics",new {Area="analytics"})"><i class="fa fa-bar-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Analytics</span> </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>