﻿@model MvcApplication.WebApplication.Models.RoleDTO
@{
    ViewBag.Title = "Edit";

    var roleTypeSelectItems = ViewBag.RoleTypeSelectList as List<SelectListItem>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Roles</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Roles", "Index", "Roles", new { Area = "Administration" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Edit Role</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }
                    @using (Html.BeginForm("Edit", "Roles", new { Area = "Administration" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Role Details</h1>
                        <fieldset>
                            <div id="RoleOriginal">
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.RoleType, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.RoleType, roleTypeSelectItems, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required" } })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.CheckBoxFor(model => model.IsEnabled, new { htmlAttributes = new { @class = "form-control required" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Finish</h1>
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Role Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="RoleConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")

    <!--customer lookup Script-->
    @Scripts.Render("~/bundle/custom/lookups/customer");

    <script type="text/javascript">

        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                // If the current step is the confirmation page run the confirm method
                if (newIndex === 1) {
                    confirm();
                    //hide all buttons on the confirm step
                    $('input[type="button"]').hide();
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

                if (currentIndex !== 3) {
                    //hide all buttons on the confirm step
                    $('input[type="button"]').show();
                }

                // Suppress (skip) "Warning" step if the user is old enough.
                //if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                //    $(this).steps("next");
                //}

                //// Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                //if (currentIndex === 2 && priorIndex === 3) {
                //    $(this).steps("previous");
                //}
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                Key: {
                    required: true,
                    maxlength: 10,
                    minlength: 2
                }
            }
            //messages: {
            //    Key: {
            //        required: "This field is required",
            //        maxlength: "This field only allows 10 characters",
            //        minlength: "This field require minimumum"
            //    }
            //}
        });

        function confirm() {
            //Charge Information Section
            $("#RoleConfirm").empty();
            $("#RoleOriginal").clone().appendTo("#RoleConfirm");

            //get original selects into a jq object
            var $originalSelects = $("#RoleOriginal").find('select');

            $("#RoleConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects.eq(index).val());

            });
            $("#RoleConfirm :input").attr("disabled", true);

        }

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}