﻿@{
    ViewBag.Title = "Roles";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Roles</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="active">
                <strong>Roles</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b-md">
        <div class="col-lg-12">
            <div style="float: left">
                @Html.ActionLink("Create", "Create", "Roles", new { Area = "Administration" }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>@ViewBag.Title</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (TempData["ModelError"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-times"></i>
                            <strong>Error!</strong> @TempData["ModelError"]
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-check"></i>
                            <strong>Success</strong> @TempData["Success"]
                        </div>
                    }
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="Grid" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="dataTables_empty">
                                                Loading data from server
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")


    <script type="text/javascript">

        var emailMessagesGrid;

        $(document).ready(function () {

            $('#Grid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("RolesList", "Roles",new {Area = "Administration"})",
                 "sServerMethod": "POST",
            // Callback settings
           "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
               /* row manipulation */


               var editUrl = '<a class="btn btn-primary m-r-sm" href="roles/edit/' + aData.Id + '">' + 'Edit</a>';

               var accessRoleUrl = '<a class="btn btn-primary" href="security/index/' + aData.Id + '">' + 'Access Control</a>';

               $('td:eq(4)', nRow).html(editUrl + accessRoleUrl);

                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "aaSorting": [[0, 'desc']],
            "aoColumns": [

                { "mDataProp": "Name", "sTitle": "Name" },
                { "mDataProp": "Description", "sTitle": "Description" },
                { "mDataProp": "RoleTypeDescription", "sTitle": "Role Type" },
                { "mDataProp": "IsEnabled", "sTitle": "Is Enabled" },
                { "mDataProp": "Name", "sTitle": "Action" }
                ],
                "dom": '<"html5buttons"B>lTfgitp',
                "buttons": [
                   
                    { extend: 'csv', title: 'System Roles' },
                    { extend: 'excel', title: 'System Roles' },
                    { extend: 'pdf', title: 'System Roles' }

                ],
                "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000], [10, 25, 50, 100, 250, 500, 1000]]

            });

            $("#Grid_filter input").unbind();

            $("#Grid_filter input").keyup(function (e) {

                var value = this.value;

                if (value.length >= 5) {

                    $("#Grid").dataTable().fnFilter(this.value);
                }
            });

        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}