﻿@model Application.MainBoundedContext.DTO.RegistryModule.EmployeeDTO
@{
    ViewBag.Title = "Employee Details";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="panel-body">
                    <div class="panel-group" id="accordion">

                        <div id="userOriginal">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.OtherNames, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.OtherNames, new { @class = "form-control required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @type = "email" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control required", @readonly = "readonly", @placeholder = "+2547XXXXX" })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @type = "number" })
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div id="primaryDetailsOriginal">
                            <div class="row">
                                <div class="col-sm-3" id="dvPartner">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AssignedRole, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control required", @readonly = "readonly", @placeholder = "234XXX" })
                                        @*@Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                        @Html.TextBoxFor(model => model.DepartmentDesc, new { @class = "form-control required", @readonly = "readonly", @placeholder = "234XXX" })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="identitysDetailsOriginal">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.GenderDesc, new { @class = "form-control required", @readonly = "readonly", @placeholder = "234XXX" })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IdNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.IdNumber, new { @class = "form-control required", @readonly = "readonly", @placeholder = "234XXX" })
                                        @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger", @type = "number" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KRAPin, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.KRAPin, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.KRAPin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="socialSecurityDetailsOriginal">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NHIFNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.NHIFNumber, new { @class = "form-control required", @readonly = "readonly", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.NHIFNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NSSFNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.NSSFNumber, new { @class = "form-control required", @readonly = "readonly", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.NSSFNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeductNHIFContribution, new { @class = "control-label" })
                                        @Html.CheckBoxFor(model => model.DeductNHIFContribution, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.DeductNHIFContribution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeductNSSFContribution, new { @class = "control-label" })
                                        @Html.CheckBoxFor(model => model.DeductNSSFContribution, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.DeductNSSFContribution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="bankDetailsOriginal">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BankName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.BankName, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BranchName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BankAccount, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.BankAccount, new { @class = "form-control required", @readonly = "readonly", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.BankAccount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="jobDetailsOriginal">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group" id="data_5">
                                        <label class="control-label" for="StartDate">Date Of Employment</label>
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input type="text" class="form-control-sm form-control" name="DateOfEmployment" placeholder="Date Of Employment">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.JobNumber, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.JobNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobTitle, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control required", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    @Html.LabelFor(model => model.GrossSalary, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.GrossSalary, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.GrossSalary, new { htmlAttributes = new { @class = "form-control required", @readonly = "readonly", placeholder = "Gross Salary" } })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    @Html.LabelFor(model => model.AllocatedLeaveDays, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.AllocatedLeaveDays, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.AllocatedLeaveDays, new { htmlAttributes = new { @class = "form-control required", @readonly = "readonly", placeholder = "Gross Salary" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript">

    </script>
}