﻿@using Infrastructure.Crosscutting.Framework.Utils
@model Application.MainBoundedContext.DTO.RegistryModule.EmployeeDTO
@using MvcApplication.Helpers
@using Infrastructure.Crosscutting.Framework.Utils
@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";

    var customerTypeSelectList = ViewBag.CustomerTypesSelectList as List<SelectListItem>;

    var departmentSelectListItems = ViewBag.DepartmentSelectListItems as List<SelectListItem>;

    var genderSelectListItems = ViewBag.GenderSelectListItems as List<SelectListItem>;

    var BankSelectListItems = ViewBag.BankSelectListItems as List<SelectListItem>;

    var BranchSelectListItems = ViewBag.BranchSelectListItems as List<SelectListItem>;

    var companiesList = ViewBag.CompaniesList as List<SelectListItem>;
    var roleList = ViewBag.RolesList as List<SelectListItem>;
    var designationList = ViewBag.DesignationsList as List<SelectListItem>;
    var superAdministrator = WellKnownUserRoles.SuperAdministrator.ToString();

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Employee</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Employee", new { Area = "Registry" }, null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Create Employee</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }

                    @using (Html.BeginForm("Create", "Employee", new { Area = "Registry" }, FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>User Details</h1>
                        <fieldset>
                            <div id="userOriginal">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.OtherNames, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.OtherNames, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @type = "email" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control required", @placeholder = "+2547XXXXX" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @type = "number" })
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </fieldset>

                        <h1>Primary Details</h1>
                        <fieldset>
                            <div id="primaryDetailsOriginal">

                                <div class="row">
                                    @if (User.Identity.IsInternalRole())
                                    {
                                        <div class="col-sm-3" id="dvIsExternalUser">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IsExternalUser, new { @class = "control-label" })
                                                <br />
                                                @Html.CheckBoxFor(model => model.IsExternalUser, new { @class = "check-box" })
                                                @*<input type="checkbox" name="IsExternalUser" id="IsExternalUser" class="check-box" />*@
                                            </div>
                                        </div>
                                    }
                                    <div class="col-sm-3" id="dvPartner">
                                        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            <div class="input-group" data-autoclose="true">
                                                @Html.HiddenFor(x => x.CustomerId)
                                                
                                                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control ", disabled = "disabled" } })
                                                <span class="input-group-addon">
                                                    <a data-toggle="modal" data-target="#customerLookupModal"><span class="fa fa-search"></span></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AssignedRole, new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.RoleName, roleList, new { @class = "form-control ", required = "required" })
                                            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                            @Html.DropDownList("DepartmentId", departmentSelectListItems, new { @class = "form-control ", required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <h1>Identity</h1>
                        <fieldset>
                            <div id="identitysDetailsOriginal">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
                                        @Html.DropDownList("Gender", genderSelectListItems, new { @class = "form-control ", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IdNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.IdNumber, new { @class = "form-control required", @placeholder = "234XXX" })
                                        @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger", @type = "number" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KRAPin, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.KRAPin, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.KRAPin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Health and Social security numbers</h1>
                        <fieldset>
                            <div id="socialSecurityDetailsOriginal">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NHIFNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.NHIFNumber, new { @class = "form-control required", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.NHIFNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NSSFNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.NSSFNumber, new { @class = "form-control required", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.NSSFNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeductNHIFContribution, new { @class = "control-label" })
                                        @Html.CheckBoxFor(model => model.DeductNHIFContribution, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.DeductNHIFContribution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DeductNSSFContribution, new { @class = "control-label" })
                                        @Html.CheckBoxFor(model => model.DeductNSSFContribution, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.DeductNSSFContribution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Bank details</h1>
                        <fieldset>

                            <div id="bankDetailsOriginal">
                                <div class="col-lg-3">
                                    @Html.LabelFor(model => model.BankCode, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.BankCode, "", new { @class = "text-danger" })
                                        @Html.DropDownList("BankCode", BankSelectListItems, new { @class = "form-control ", required = "required",  @onchange = "bankSelected(this)" })

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelFor(model => model.BranchCode, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })                      
                                        <select id="BranchCode" name="BranchCode" class="form-control" style="width:200px;">
                                            @Html.HiddenFor(x => x.BranchCode)
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountName, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BankAccount, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.BankAccount, new { @class = "form-control required", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.BankAccount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Job details</h1>
                        <fieldset>
                            <div id="jobDetailsOriginal">
                                <div class="col-sm-3">
                                    <div class="form-group" id="data_5">
                                        <label class="control-label" for="StartDate">Date Of Employment</label>
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input type="text" class="form-control-sm form-control" name="DateOfEmployment" placeholder="Date Of Employment">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobNumber, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.JobNumber, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.JobNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.JobTitle, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.JobTitle, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    @Html.LabelFor(model => model.GrossSalary, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.GrossSalary, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.GrossSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "Gross Salary" } })
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    @Html.LabelFor(model => model.AllocatedLeaveDays, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.AllocatedLeaveDays, "", new { @class = "text-danger" })
                                        @Html.EditorFor(model => model.AllocatedLeaveDays, new { htmlAttributes = new { @class = "form-control", placeholder = "Allocated Leave Days",@type="number" } })
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <h1>Finish</h1>
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                User Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="userOriginalConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                Primary Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="primaryDetailsOriginalConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                Identity Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="identitysDetailsOriginalConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                Health and Social Security Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="socialSecurityDetailsOriginalConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                                Bank  Details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="bankDetailsOriginalConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                                Job Details Original
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="jobDetailsOriginalConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal inmodal fade" id="customerLookupModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Customer Lookup<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="customerLookupGrid" class="table table-striped table-bordered table-hover" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="userLookupModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">User Lookup<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="UsersDataTable" class="table table-striped table-bordered table-hover" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="branchLookupModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Branch Lookup<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="BranchLookupGrid" class="table table-striped table-bordered table-hover" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="BankLookupModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3 class="font-bold">Bank Lookup<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="BankLookupGrid" class="table table-striped table-bordered table-hover" width="100%">
                        <tbody>
                            <tr>
                                <td colspan="3" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts{
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/sweetAlert")
    @*@Scripts.Render("~/bundle/custom/lookups/customer")*@
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">
        $(document).ready(function () {

            $(".hidden input").each(function () {
                $(this).attr('disabled', true);
            });

            $("#dvPartner").hide();

            $("#IsExternalUser").change(function () {
                if ($(this).is(':checked')) {
                    $("#dvPartner").show();
                } else {
                    $("#dvPartner").hide();
                }
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            jQuery.validator.addMethod("phoneNumberValidator",
                function (value, element) {

                    var regex = new RegExp(/^\+(?:[0-9] ?){6,14}[0-9]$/);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key) || key.length > 13 || key.length < 13) {

                        return false;
                    }
                    return true;

                },
                "Invalid Phone Number");

            jQuery.validator.addMethod("EmailAddressValidator",
                function (value, element) {

                    var regex = new RegExp(/^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);

                    var key = value;

                    if (key == null || key == "") {
                        return true;
                    }

                    if (!regex.test(key)) {

                        return false;
                    }

                    return true;

                },
                "Invalid email address");

        });

        function bankSelected(e) {
            //console.log("Inside the bankSelected ");
            var selectedValue = $(e).val();
            //console.log("selectedValue: " +selectedValue);
            //MAKE AN AJAX CALL TO LOAD branches
            $.ajax({
                type: 'Post',
                url: '/Registry/Employee/GetBranchSelectedBank/',
                data: { selectedValue: selectedValue }
            })
                .done(function (data) {
                    var markup = "<option value='0'></option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#BranchCode").html(markup).show();
                });
        }

        


        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                console.log(currentIndex + " " + newIndex);
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex) {
                    return true;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex) {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                if (newIndex == 6) {
                    console.log("here: " + currentIndex +": "+  newIndex);
                    //hide all buttons on the confirm step
                    $('input[type="button"]').hide();
                    confirm();
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                console.log(form.validate().error);

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);

                // Submit form input
                form.submit();
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                },
                AddressMobileLine: {
                    phoneNumberValidator: true,
                },
                AddressEmail: {
                    EmailAddressValidator: true,
                },
                AddressLandLine: {
                    maxlength: 10,
                    minlength: 5,
                },
                AddressPostalCode: {
                    maxlength: 6,
                    minlength: 3
                }

            },
            messages: {
                AddressLandLine: {
                    maxlength: "This field only allows 10 characters",
                    minlength: "This field require a minimum of 5 characters"
                },
                AddressPostalCode: {
                    maxlength: "This field only allows 6 characters",
                    minlength: "This field require a minimum of 3 characters"
                },
            }
        });

        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });

        function confirm() {

            //user Details Information Section
            $("#userOriginalConfirm").empty();

            $("#userOriginal").clone().appendTo("#userOriginalConfirm");

            $("#userOriginalConfirm").find(".input-group-addon").remove();

            $("#userOriginalConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects = $("#userOriginal").find('select');

            $("#userOriginalConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects.eq(index).val());

            });

            $("#userOriginalConfirm :input").attr("disabled", true);

            //Primary Details Information Section
            $("#primaryDetailsOriginalConfirm").empty();

            $("#primaryDetailsOriginal").clone().appendTo("#primaryDetailsOriginalConfirm");

            $("#primaryDetailsOriginalConfirm").find("input-group-addon").remove();

            $("#primaryDetailsOriginalConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects1 = $("#primaryDetailsOriginal").find('select');

            $("#primaryDetailsOriginalConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects1.eq(index).val());

            });

            $("#primaryDetailsOriginalConfirm :input").attr("disabled", true);

            //identity Details Information Section
            $("#identitysDetailsOriginalConfirm").empty();

            $("#identitysDetailsOriginal").clone().appendTo("#identitysDetailsOriginalConfirm");

            $("#identitysDetailsOriginalConfirm").find("input-group-addon").remove();

            $("#identitysDetailsOriginalConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects2 = $("#identitysDetailsOriginal").find('select');

            $("#identitysDetailsOriginalConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects2.eq(index).val());

            });

            $("#identitysDetailsOriginalConfirm :input").attr("disabled", true);

            //socialSecurityDetailsOriginalConfirm Details Information Section
            $("#socialSecurityDetailsOriginalConfirm").empty();

            $("#socialSecurityDetailsOriginal").clone().appendTo("#socialSecurityDetailsOriginalConfirm");

            $("#socialSecurityDetailsOriginalConfirm").find("input-group-addon").remove();

            $("#socialSecurityDetailsOriginalConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects3 = $("#socialSecurityDetailsOriginal").find('select');

            $("#socialSecurityDetailsOriginalConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects3.eq(index).val());

            });

            $("#socialSecurityDetailsOriginalConfirm :input").attr("disabled", true);


            //Address Details Information Section
            $("#bankDetailsOriginalConfirm").empty();

            $("#bankDetailsOriginal").clone().appendTo("#bankDetailsOriginalConfirm");

            $("#bankDetailsOriginalConfirm").find("input-group-addon").remove();

            $("#bankDetailsOriginalConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects4 = $("#bankDetailsOriginal").find('select');

            $("#bankDetailsOriginalConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects4.eq(index).val());

            });

            $("#bankDetailsOriginalConfirm :input").attr("disabled", true);


            //jobDetailsOriginal Details Information Section
            $("#jobDetailsOriginalConfirm").empty();

            $("#jobDetailsOriginal").clone().appendTo("#jobDetailsOriginalConfirm");

            $("#jobDetailsOriginalConfirm").find("input-group-addon").remove();

            $("#jobDetailsOriginalConfirm").find("button").remove();

            //get original selects into a jq object
            var $originalSelects5 = $("#jobDetailsOriginal").find('select');

            $("#jobDetailsOriginalConfirm").find('select').each(function (index, item) {

                //set new select to value of old select
                $(item).val($originalSelects5.eq(index).val());

            });

            $("#jobDetailsOriginalConfirm :input").attr("disabled", true);

        }

        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });

        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });

        $(document).ready(function () {

            function BranchLookupGrid() {

                var BranchLookupGrid;

                if (BranchLookupGrid != undefined) {
                    BranchLookupGrid.fnDestroy();
                };

                BranchLookupGrid = $('#BranchLookupGrid').DataTable({
                    "bretrieve": true,
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "bServerSide": true,
                    "info": false,
                    "sAjaxSource": '/base/Branches',
                    "sServerMethod": "POST",
                    // Callback settings
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        return nRow;
                    },
                    "fnServerParams": function (aoData) {
                        aoData.push({ "name": "BankCode", "value": $("input[name=BankCode]").val() });
                    },
                    // Display settings
                    "aoColumns": [
                        { "mDataProp": "Name", "sTitle": "Name", "sWidth": "40%" },
                        { "mDataProp": "Code", "sTitle": "Code", "sWidth": "60%" }],
                    "aaSorting": [[0, "desc"]],
                    "responsive": true,
                    "dom": '<"html5buttons"B>lTfgitp',
                    "buttons": []
                });

                $('#BranchLookupGrid tbody').on('click', 'tr', function () {

                    var data = BranchLookupGrid.row(this).data();

                    $('input[name=BranchCode]').val(data.Code);
                    $('input[name=BranchName]').val(data.Code + ' - ' + data.Name);

                    $('#branchLookupModal').modal('hide');

                    
                });
            }

            BranchLookupGrid();

            function BankLookupGrid() {

                var BankLookupGrid;

                if (BankLookupGrid != undefined) {
                    BankLookupGrid.fnDestroy();
                };

                BankLookupGrid = $('#BankLookupGrid').DataTable({
                    "bretrieve": true,
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "bServerSide": true,
                    "info": false,
                    "sAjaxSource": '/base/Banks',
                    "sServerMethod": "POST",
                    // Callback settings
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        return nRow;
                    },
                    // Display settings
                    "aoColumns": [
                        { "mDataProp": "Name", "sTitle": "Name", "sWidth": "40%" },
                        { "mDataProp": "Code", "sTitle": "Code", "sWidth": "60%" }],
                    "aaSorting": [[0, "desc"]],
                    "responsive": true,
                    "dom": '<"html5buttons"B>lTfgitp',
                    "buttons": []
                });

                $('#BankLookupGrid tbody').on('click', 'tr', function () {

                    var data = BankLookupGrid.row(this).data();

                    $('input[name=BankCode]').val(data.Code);
                    $('input[name=BankName]').val(data.Code + ' - ' + data.Name);

                    $('input[name=BranchCode]').val('');
                    $('input[name=BranchName]').val('');

                    $('#BankLookupModal').modal('hide');

                    UpdateBusinessShortCode();

                    $.ajaxSetup({
                        //set global to TRUE so ajax is registered with page event handlers(blockUI in our case).
                        global: true,
                    });

                    $('#BranchLookupGrid').DataTable().ajax.reload();

                });
            }

            BankLookupGrid();
        });

        $(document).ready(function () {

            function CustomerLookupGrid() {

                var customerLookupGrid;

                if (customerLookupGrid != undefined) {
                    customerLookupGrid.fnDestroy();
                };

                customerLookupGrid = $('#customerLookupGrid').DataTable({
                    "bretrieve": true,
                    "sPaginationType": "full_numbers",
                    "bProcessing": true,
                    "bServerSide": true,
                    "info": false,
                    "sAjaxSource": '/LookUp/CustomersList',
                    "sServerMethod": "POST",
                    // Callback settings
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                        var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
                        var h_createdDate = ("0" + createdDate.getHours()).slice(-2);
                        var m_createdDate = ("0" + createdDate.getMinutes()).slice(-2);
                        var s_createdDate = ("0" + createdDate.getSeconds()).slice(-2);

                        var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h_createdDate + ":" + m_createdDate + ":" + s_createdDate;
                        aData.CreatedDate = dt_Created;

                        $('td:eq(4)', nRow).html(dt_Created);

                        return nRow;
                    },
                    // Display settings
                    "aoColumns": [
                        { "mDataProp": "TypeDesc", "sTitle": "Type", "bSortable": false },
                        { "mDataProp": "Name", "sTitle": "Name", "bSortable": false },
                        { "mDataProp": "RecordStatusDesc", "sTitle": "Record Status", "bSortable": false },
                        { "mDataProp": "AddressEmail", "sTitle": "Email", "bSortable": false },
                        { "mDataProp": "CreatedDate", "sTitle": "Created Date" },
                        { "mDataProp": "CreatedDate", "sTitle": "Action", "bSortable": false }],
                    "aaSorting": [[5, "desc"]],
                    "responsive": true,
                    "dom": '<"html5buttons"B>lTfgitp',
                    "buttons": []
                });

                $('#customerLookupGrid tbody').on('click', 'tr', function () {

                    var data = customerLookupGrid.row(this).data();

                    console.log(data);

                    $('input[name=CustomerId]').val(data.Id);
                    $('input[name=CustomerName]').val(data.Name);

                    $('input[name=ParentId]').val(data.Id);
                    $('input[name=ParentName]').val(data.Name);

                    $('#customerLookupModal').modal('hide');
                });
            }

            CustomerLookupGrid();
        });
    </script>
}