﻿@using MvcApplication.Helpers
@using Infrastructure.Crosscutting.Framework.Utils
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-check"></i>
        <strong>Success</strong> @TempData["Success"]
    </div>

}

@if (User.Identity.IsUserInRole(new string[] { @Infrastructure.Crosscutting.Framework.Utils.EnumHelper.GetDescription(WellKnownUserRoles.SuperAdministrator) }))
{
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Total</span>
                        <h5>Customers</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">
                            <span> <i class="glyphicon glyphicon-user"></i>  </span>
                            @if (ViewBag.TotalCustomers != null)
                            {@ViewBag.TotalCustomers.ToString("#,##0")}
                        else { }
                        </h1>
                        <small>Total Customers</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Total</span>
                        <h5>Employees per Customer(Top 10 by Employee number)</h5>
                    </div>
                    <div class="ibox-content">


                        @if (ViewBag.CustomerName != null)
                        {

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Customer Name</th>
                                        <th>Total EMployees</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>@ViewBag.CustomerName</td>
                                        <td>@ViewBag.TotalEMployees.ToString("#,##0")</td>

                                    </tr>

                                </tbody>
                            </table>



                        }
                        else { }

                        <small>Employees per Customer</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
}
else if (User.Identity.IsUserInRole(new string[] { @Infrastructure.Crosscutting.Framework.Utils.EnumHelper.GetDescription(WellKnownUserRoles.Administrator) }))
{
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Total</span>
                        <h>Total Empoyees</h>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-2">
                                <span> <i class="glyphicon glyphicon-user fa-2x"></i>  </span>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <h1 class="no-margins">

                                    @if (ViewBag.TotalEMployees != null)
                                    {@ViewBag.TotalEMployees.ToString("#,##0")}
                                else { }
                                </h1>

                            </div>
                        </div>


                    </div>
                    <br />
                    <div class="ibox-content">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">
                                <div class="row">
                                    <h6>Total Salary</h6>
                                    <div class="col-sm-2">
                                        <span> <i class="fa fa-usd fa-2x"></i>  </span>
                                    </div>
                                    <div class="col-sm-2">
                                        @if (ViewBag.TotalSalary != null)
                                        {@ViewBag.TotalSalary.ToString("#,##0")}
                                    </div>
                                </div>

                                <hr />
                                <div class="row">
                                    <h6>Total Average Salary</h6>
                                    <div class="col-sm-2">
                                        <span> <i class="fa fa-money fa-2x"></i>  </span>
                                    </div>
                                    <div class="col-sm-2">
                                        @if (ViewBag.TotalAverageSalary != null)
                                        {@ViewBag.TotalAverageSalary.ToString("#,##0")}
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="ibox-content">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">
                                <div class="row">
                                    <h6>@User.Identity.Name total leave days</h6>
                                    <div class="col-sm-2">
                                        <span> <i class="fa fa-times-circle-o fa-2x"></i>  </span>
                                    </div>
                                    <div class="col-sm-2">
                                        @if (ViewBag.TotalLeaveDays != null)
                                        {@ViewBag.TotalLeaveDays.ToString("#,##0")}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="ibox-content">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">
                                <div class="row">
                                    <h6>Employees on Leave</h6>
                                    <div class="col-sm-2">
                                        <span> <i class="fa fa-users fa-2x"></i>  </span>
                                    </div>
                                    <div class="col-sm-2">
                                        @if (ViewBag.TotalEmployeesOnLeave != null)
                                        {@ViewBag.TotalEmployeesOnLeave.ToString("#,##0")}
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h6>
                            Salary Statistics
                        </h6>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="lineChart" height="85"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="ibox-content" style="width:170px; height:170px;">
                    <div class="ibox float-e-margins">

                        <div class="ibox-content">
                            <div class="row">
                                <h6 style="color:#468ebe;">Pay Slip</h6>
                                <div class="col-lg-12" id="dvPartner">
                                    View Pay Slip
                                    <div class="form-group">
                                        <div class="input-group" data-autoclose="true">
                                            <span class="input-group-addon">
                                                <a data-toggle="modal" data-target="#paySlipModal"><span class="fa fa-eye"></span></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-lg-9">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h6>
                                Salary Statistics
                            </h6>
                            <div ibox-tools></div>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas id="lineChart" height="85"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>*@
    </div>

}
else if (User.Identity.IsUserInRole(new string[] { @Infrastructure.Crosscutting.Framework.Utils.EnumHelper.GetDescription(WellKnownUserRoles.StandardUser) }))
{
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="ibox-content" style="width:150px; height:170px;">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">
                                <div class="row">
                                    <h6 style="color:#468ebe;">Total Leave Days</h6>
                                    <div class="col-sm-4">
                                        <span> <i class="fa fa-times-circle-o fa-2x"></i>  </span>
                                    </div>
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-2">
                                        @if (ViewBag.TotalLeaveDays != null)
                                        {@ViewBag.TotalLeaveDays.ToString("#,##0")}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox-content" style="width:150px; height:170px;">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">
                                <div class="row">
                                    <h6 style="color:#468ebe;">Employees on Leave</h6>
                                    <div class="col-sm-2">
                                        <span> <i class="fa fa-users fa-2x"></i>  </span>
                                    </div>
                                    <div class="col-sm-2">

                                    </div>
                                    <div class="col-sm-2">
                                        @if (ViewBag.TotalEmployeesOnLeave != null)
                                        {@ViewBag.TotalEmployeesOnLeave.ToString("#,##0")}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="ibox-content" style="width:170px; height:170px;">
                        <div class="ibox float-e-margins">

                            <div class="ibox-content">
                                <div class="row">
                                    <h6 style="color:#468ebe;">Pay Slip</h6>                                  
                                        <div class="col-lg-12" id="dvPartner">
                                            View Pay Slip
                                            <div class="form-group">
                                                <div class="input-group" data-autoclose="true">
                                                    <span class="input-group-addon">
                                                        <a data-toggle="modal" data-target="#paySlipModal"><span class="fa fa-eye"></span></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="modal inmodal fade" id="paySlipModal" tabindex="-1" role="dialog" aria-hidden="true" style="cursor:pointer;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h3 class="font-bold">Pay Slip <span id="#id"></span> <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></h3>
                </div>
                <div class="modal-body">
                    @if (ViewBag.PaySlip != null)
                    {                            
                            @Html.Partial("PaySlip", (Application.MainBoundedContext.DTO.PaySlipDTO)ViewBag.Message)
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
else
{

}


@section Styles {
    @Styles.Render("~/plugins/chartistStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
    @Scripts.Render("~/plugins/chartist")
    @Scripts.Render("~/plugins/chartjs")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $.get("/Dashboard/GetSalaryDashboardChart", function (response, status) {

                var data1 = response.Quarter1;

                var data2 = response.Quarter2;

                var data3 = response.Quarter3;

                var data4 = response.Quarter4;

                console.log(data2);

                var dataset = [
                    {
                        label: "Quater 1",
                        data: data1,
                        yaxis: 2,
                        color: "#464f88",
                        lines: {
                            lineWidth: 1,
                            show: true,
                            fill: true,
                            fillColor: {
                                colors: [{
                                    opacity: 0.2
                                }, {
                                    opacity: 0.2
                                }]
                            }
                        },
                        splines: {
                            show: false,
                            tension: 0.6,
                            lineWidth: 1,
                            fill: 0.1
                        },
                    },
                    {
                        label: "Quater 2",
                        data: data2,
                        color: "#1ab394",
                        bars: {
                            show: true,
                            align: "center",
                            barWidth: 24 * 60 * 60 * 600,
                            lineWidth: 0
                        }

                    },
                    {
                        label: "Quater 3",
                        data: data3,
                        color: "#1ab394",
                        bars: {
                            show: true,
                            align: "center",
                            barWidth: 24 * 60 * 60 * 600,
                            lineWidth: 0
                        }

                    },
                    {
                        label: "Quater 4",
                        data: data4,
                        color: "#1ab394",
                        bars: {
                            show: true,
                            align: "center",
                            barWidth: 24 * 60 * 60 * 600,
                            lineWidth: 0
                        }

                    },
                ];


                var options = {
                    xaxis: {
                        mode: "time",
                        tickSize: [3, "day"],
                        tickLength: 0,
                        axisLabel: "Date",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Arial',
                        axisLabelPadding: 10,
                        color: "#d5d5d5"
                    },
                    yaxes: [{
                        position: "left",
                        clolor: "#d5d5d5",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: ' Arial',
                        axisLabelPadding: 67
                    }, {
                        position: "right",
                        clolor: "#d5d5d5",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: ' Arial',
                        axisLabelPadding: 67
                    }
                    ],
                    legend: {
                        noColumns: 1,
                        labelBoxBorderColor: "#000000",
                        position: "nw"
                    },
                    grid: {
                        hoverable: false,
                        borderWidth: 0
                    }
                };

                $.plot($("#flot-dashboard-chart"), dataset, options);

            });
        });
    </script>
}
