﻿@using System.Globalization
@using Infrastructure.Crosscutting.Framework.Utils
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-check"></i>
        <strong>Success</strong> @TempData["Success"]
    </div>

}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-default pull-right">Transactions</span>
                    <h5>Transactions</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">
                        @if (ViewBag.DailyTransactions != null)
                        {@ViewBag.DailyTransactions.ToString("#,##0")}
                    else { }
                    </h1>
                    <div class="stat-percent font-bold text-info"> </div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Transactions</span>
                    <h5>Successful</h5>
                </div>
                <div class="ibox-content">

                    @if (ViewBag.TotalSuccessfulTransactions != null)
                    {
                        <h1 class="no-margins">
                            @ViewBag.TotalSuccessfulTransactions.ToString("#,##0")
                        </h1>
                    }
                    else
                    { <h1 class="no-margins">0</h1>}

                    <div class="stat-percent font-bold text-navy"></div>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <a href="#" data-toggle="modal" data-target="#myModal" data-placement="top" title="Click To View">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">Transactions</span>
                        <h5>Pending</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">
                            @if (ViewBag.PendingTransactions != null)
                            {@ViewBag.PendingTransactions.ToString("#,##0")
                        }
                        else
                        {
                        }
                        </h1>
                        <div class="stat-percent font-bold text-navy"></div>
                        <small></small>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Customers</span>
                    <h5>Customers</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">
                        @if (ViewBag.TotalCustomers != null)
                        {@ViewBag.TotalCustomers.ToString("#,##0")}
                    else { }
                    </h1>
                    <div class="stat-percent font-bold text-success"> </div>
                    <small></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Recent Transactions</h3>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="table-responsive">
                        <table id="RecentGrid" class="table table-striped table-bordered table-hover" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="width:80%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        Pending Transactions
                    </h4>
                </div>
                <div class="modal-body">
                    <span id="test"></span>
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        <table id="Grid" class="table table-striped table-bordered table-hover" style="width:100%;">

                            <tbody>
                                <tr>
                                    <td colspan="7" class="dataTables_empty">
                                        Loading data from server
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="small-chat-box fadeInRight animated">
    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.19.2015
        </small>
        Small chat
    </div>

    <div class="content">
        <div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                    10:02 am
                </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum is simply dummy text input.
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                Mick Smith
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                Lorem Ipsum is simpl.
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Alice Novak
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                Check this stock char.
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                Anna Lamson
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                The standard chunk of Lorem Ipsum
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Mick Lane
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                I belive that. Lorem Ipsum is simply dummy text.
            </div>
        </div>
    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control"> <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    Send
                </button>
            </span>
        </div>
    </div>
</div>
@*<div id="toast-container" class="toast-top-right" aria-live="polite" role="alert">
    <div class="toast toast-success" style="">
        <div class="toast-progress" style="width: 36.7%;"></div>
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-title">Welcome to MvcApplication</div>
        <div class="toast-message">Responsive Admin Theme</div></div></div>*@
@section Styles {
    @Styles.Render("~/plugins/chartistStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
    @Scripts.Render("~/plugins/chartist")
    @Scripts.Render("~/plugins/chartjs")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {

            $('#RecentGrid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "paging": true,
                "bPaginate": false,
                "bInfo": false,
                "bLengthChange": false,
                "bFilter": false,
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("OrderTransactions", "Dashboard",new { Area ="" })",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    /* row manipulation */

                    if (aData.RecordStatus == 3) {

                        $('td:eq(1)', nRow).css('background-color', 'lightgreen').html("Success");
                    }
                    else if (aData.RecordStatus == 5) {

                        $('td:eq(1)', nRow).css('background-color', 'Yellow').html("Failed");
                    }
                    else {
                      //  $('td:eq(1)', nRow).css('background-color', 'salmon').html("No Callback");
                    }

                  /* return*/
                    return nRow;
                },
                // Display settings
                "iDisplayLength": 10,
                "aoColumns": [

                    { "mDataProp": "CustomerAccountCustomerName", "sTitle": "Customer Name" },
                    { "mDataProp": "CustomerAccountCustomerId", "sTitle": "Customer Account" },
                    { "mDataProp": "Route", "sTitle": "Route" },
                    { "mDataProp": "DebitMode", "sTitle": "Debit Mode" },
                    { "mDataProp": "CreatedDateToString", "sTitle": "Created Date" }],
                "aaSorting": [[0, 'desc']],
                "lengthMenu": [[10], [10]]
            });

            $("#Grid").dataTable({
                "retrieve": true,
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("PendingTransactionList", "Transactions",new {Area="Transactions"})",
                "sServerMethod": "POST",
                // Callback settings
                "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                    var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                    var h = ("0" + createdDate.getHours()).slice(-2);
                    var m = ("0" + createdDate.getMinutes()).slice(-2);
                    var s = ("0" + createdDate.getSeconds()).slice(-2);

                    var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                    $('td:eq(7)', nRow).html(dt_Created);

                   // var transactionAmount = aData.TransAmount;

                    //var transactionAmountnum = transactionAmount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                    //$('td:eq(2)', nRow).html(transactionAmountnum).css('text-align', 'right');

                    return nRow;
                },

                // Display settings
                "iDisplayLength": 10,
                "aaSorting": [[0, "desc"]],
                    "aoColumns": [
                        { "mDataProp": "CustomerAccountCustomerName", "sTitle": "Customer Name" },
                        { "mDataProp": "CustomerAccountCustomerId", "sTitle": "Customer Account" },
                        { "mDataProp": "Route", "sTitle": "Route" },
                         { "mDataProp": "Currency", "sTitle": "Currency" },
                        { "mDataProp": "DebitMode", "sTitle": "Debit Mode" },
                        //{ "mDataProp": "Amount", "sTitle": "Amount" },
                        { "mDataProp": "CreatedDateToString", "sTitle": "Created Date" }
                    ],
                    "dom": '<"html5buttons"B>lTfgitp',
                    "buttons": [

                        { extend: 'csv', title: 'List of Order Transactions' },
                        { extend: 'excel', title: 'List of Order Transactions' },

                    ],
                    "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000], [10, 25, 50, 100, 250, 500, 1000]]

            });

        });
        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}
<style type="text/css">
    div.dataTables_wrapper div.dataTables_paginate {
        margin: 0;
        white-space: nowrap;
        text-align: right;
        display: none;
    }
</style>