﻿@model Application.MainBoundedContext.DTO.PaySlipDTO
@using MvcApplication.Helpers
@using Infrastructure.Crosscutting.Framework.Utils
@{
    ViewBag.Title = "PaySlip";
}

<h2>Pay Slip</h2>

<div class="panel panel-default">
    <div class="panel-heading">Pay Slip</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <h4>Pay Month</h4>
                <div class="form-group" id="data_5">
                    <div class="input-daterange input-group" id="datepicker">
                        <span class="input-group-addon">Start Date</span>
                        @Html.TextBox("startDate", DateTime.Today.AddDays(-14).ToString("dd-MM-yyyy"), new { @class = "form-control-lg form-control" })
                        <span class="input-group-addon">End Date</span>
                        @Html.TextBox("endDate", DateTime.Today.ToString("dd-MM-yyyy"), new { @class = "form-control-lg form-control" })
                    </div>
                </div>
            </div>
        </div>
        <h4>Personal information</h4>
        <fieldset>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Names, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Names, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Unit, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Station, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Station, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmployeePaySlip, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.EmployeePaySlip, new { @class = "form-control required" })

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Company, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Company, new { @class = "form-control required" })

                    </div>
                </div>

            </div>
            <div class="row">
                <h4>Earnings</h4>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Basicpay, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Basicpay, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeaveAllowance, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.LeaveAllowance, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Grosspay, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Grosspay, new { @class = "form-control required" })

                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Non-Cash Benefits</h4>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NonCashBenefits, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.NonCashBenefits, new { @class = "form-control required" })

                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Deductions</h4>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.HealthInsurance, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.HealthInsurance, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Pension, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Pension, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Paye, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Paye, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SaccoBenevoltFund, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.SaccoBenevoltFund, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SaccoSavings, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.SaccoSavings, new { @class = "form-control required" })

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StaffWelfare, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.StaffWelfare, new { @class = "form-control required" })

                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Tax Details</h4>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonalRelief, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.PersonalRelief, new { @class = "form-control required" })

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxablePay, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.TaxablePay, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxCharged, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.TaxCharged, new { @class = "form-control required" })

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxRelief, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.TaxRelief, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxDeducted, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.TaxDeducted, new { @class = "form-control required" })

                    </div>
                </div>
            </div>

            <div class="row">
                <h4>Totals</h4>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TotalDeductions, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.TotalDeductions, new { @class = "form-control required" })

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NetPay, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.NetPay, new { @class = "form-control required" })

                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="panel-footer">Pay Slip</div>
</div>

