﻿@model Application.MainBoundedContext.DTO.AdministrationModule.TaxOrderDTO
@{
    ViewBag.Title = "Tax details";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Tax Information</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div id="CustomerInfoOriginal">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.IsActive, new { @class = "form-control required input-md alpha alphaspace", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Tax Range details</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div id="AddressDetailsOriginal">
                                        @for (int i = 0; i < Model.TaxRangesItemList.Count; i++)
                                        {
                                        <div class="row" id=@i>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaxRangesItemList[i].RangeLowerLimit, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.TaxRangesItemList[i].RangeLowerLimit, new { @class = "form-control required", disabled = "disabled" })

                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaxRangesItemList[i].RangeUpperLimit, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.TaxRangesItemList[i].RangeUpperLimit, new { @class = "form-control required", disabled = "disabled" })

                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.TaxRangesItemList[i].TaxValue, new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.TaxRangesItemList[i].TaxValue, new { @class = "form-control required", disabled = "disabled" })

                                                </div>
                                            </div>

                                        </div>
                                        }
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/bundle/custom/lookups/currency");

    <script type="text/javascript">

        function addNewRow() {
            var rowcontent = $("#Scales").children().first(".row").html();
            var rownum = $("#Scales").children().last().attr("id");
            var newrownum = parseInt(rownum) + 1;

            for (var i = 0; i < rowcontent.length; i++) {
                if (rowcontent[i] === "0") {
                    rowcontent = rowcontent.replace("0", newrownum);
                }
            }
            var selectcontent = $("#TaxRangesItemList_0__Type").html();
            newdiv = $("<div></div>").addClass("row").attr("id", newrownum).append(rowcontent);
            newdivid = "#TaxRangesItemList_" + newrownum + "__Type";
            $("#Scales").append(newdiv);
            $(newdivid).html(selectcontent);
            $("#TaxRangesItemList_" + newrownum + "__RangeLowerLimit").val("");
            $("#TaxRangesItemList_" + newrownum + "__RangeUpperLimit").val("");
            $("#TaxRangesItemList_" + newrownum + "__Type").val("");
            $("#TaxRangesItemList_" + newrownum + "__Value").val("");
        }

        jQuery.validator.addMethod("floatingNumberValidation", function (value, element) {
            var regex = new RegExp(/^\d+(\.\d{1,2})?$/);
            var key = value;

            if (key == 0) {
                return true;
            }

            if (!regex.test(key)) {

                return false;
            }
            return true;

        }, "Please enter a valid value.");

        $("div").on("change",
            "[id$='RangeLowerLimit']",
            function () {
                var test = $(this).attr('name');
                var regex = /\d+/g;
                var matches = test.match(regex); // creates array from matches
                var id = "#TaxRangesItemList_" + matches + "__RangeUpperLimit";
                var prevrangeupperlimitid = matches - 1;
                var idofprevrangeupperlimit = "#TaxRangesItemList_" + prevrangeupperlimitid + "__RangeUpperLimit";
                var PreviousRangeUpperLimit = parseInt($(idofprevrangeupperlimit).val());

                var upper = $(id).attr('name');
                var RangeLowerLimit = parseInt($(this).val());
                var RangeUpperLimit = parseInt($(id).val());
                if ((RangeLowerLimit <= PreviousRangeUpperLimit)) {
                    alert(
                        "The Lower Limit of this graduated scale should be greater than the Upper Limit of the previous graduated scale");
                    $(this).val('');
                }
            });

        $("div").on("change",
            "[id$='RangeUpperLimit']",
            function () {
                var test = $(this).attr('name');
                var regex = /\d+/g;
                var matches = test.match(regex); // creates array from matches
                var id = "#TaxRangesItemList_" + matches + "__RangeLowerLimit";
                var prevrangeupperlimitid = matches - 1;

                var idofprevrangeupperlimit = "#TaxRangesItemList_" + prevrangeupperlimitid + "__RangeUpperLimit";

                var RangeUpperLimit = parseInt($(this).val());
                var RangeLowerLimit = parseInt($(id).val());

                var PreviousRangeUpperLimit = parseInt($(idofprevrangeupperlimit).val());

                if (RangeUpperLimit <= RangeLowerLimit) {
                    alert(
                        "The Upper Limit of this graduated scale should be greater than the Lower Limit of this graduated scale");
                    $(this).val('');
                }
            });

        function RemoveRow(object, id) {
            var rowid = id;
            if (rowid != "0") {
                $(object).closest(".row").remove();
            }
        }

        $(document).ready(function () {

            $("#Scales").on("click",
                ".remove",
                function (e) {
                    e.preventDefault();
                    var rowid = $(this).attr("data-id");
                    if (rowid != "0") {

                        $(this).closest(".row").remove();
                    }
                });

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // If the current step is the confirmation page run the confirm method
                    if (newIndex === 3) {
                        confirm();
                        //hide all buttons on the confirm step
                        $('input[type="button"]').hide();
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    MinimumCharge: {
                        floatingNumberValidation: true
                    },
                    MaximumCharge: {
                        floatingNumberValidation: true
                    }
                }
            });
        });
    </script>
}


