﻿@model Application.MainBoundedContext.DTO.AdministrationModule.TaxOrderDTO
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var chargeAccountList = ViewBag.ChargeAccountType as List<SelectListItem>;
}

<div class="row wrapper border-bottom white-bg page-heading">
    @if (TempData["ModelError"] != null)
    {
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-times"></i>
            <strong>Error!</strong> @TempData["ModelError"]
        </div>
    }
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Charges</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    @Html.ActionLink("Dashboard", "Index", "Dashboard", new { Area = "" }, null)
                </li>
                <li class="breadcrumb-item">
                    @Html.ActionLink("Tax Setting", "Index", "TaxSetting", new { Area = "ApplicationSettings" }, null)
                </li>
                <li class="breadcrumb-item active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("create", "TaxSetting", FormMethod.Post, new { id = "form", @class = "wizard-big", Area = "ApplicationSettings" }))
                    {
                        @Html.AntiForgeryToken()
                    <h1>Tax Setting Details</h1>
                        <fieldset>
                            <div id="ChargeInfoOriginal">
                                <h2>Tax setting Information</h2>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Graduated Scale</h1>
                        <fieldset>
                            <div id="GraduatedScaleOriginal">
                                <h2>Graduated Scale</h2>
                                <div class="row" style="margin-bottom: 32px;">
                                    <div class="col-sm-12">
                                        @*<button id="newrowbutton" class="btn btn-danger" type="button" style="float:left;">Add Row</button>*@
                                        <input type="button" class="btn btn-danger" id="newrowbutton" onclick="addNewRow()" value="+" />
                                    </div>
                                </div>
                                <div id="Scales">
                                    <div class="row" id="0">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TaxRangesItemList[0].RangeLowerLimit, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.TaxRangesItemList[0].RangeLowerLimit, new { @class = "form-control required" })

                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TaxRangesItemList[0].RangeUpperLimit, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.TaxRangesItemList[0].RangeUpperLimit, new { @class = "form-control required" })

                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TaxRangesItemList[0].TaxValue, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.TaxRangesItemList[0].TaxValue, new { @class = "form-control required" })

                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <br />
                                            @*<a href="#" data-id="0" onclick="RemoveRow()" class="remove btn btn-danger" style="vertical-align:baseline;color:white;margin-top:7px;">Remove</a>*@
                                            <input type="button" class="btn btn-danger" style="vertical-align:baseline;color:white;margin-top:7px;" data-id="0" onclick="RemoveRow(this,this.getAttribute('data-id'))" value="-" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>                        
                        <h1>Finish</h1>
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Tax Info
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="ChargeInfoConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                Graduated Scales
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="GraduatedScaleConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </fieldset>
                        @*</form>*@
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")

    <style>
        .panel-heading .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
            content: "\e114"; /* adjust as needed, taken from bootstrap.css */
            float: right; /* adjust as needed */
            color: grey; /* adjust as needed */
        }

        .panel-heading .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080"; /* adjust as needed, taken from bootstrap.css */
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">


        function addNewRow() {
            var rowcontent = $("#Scales").children().first(".row").html();
            var rownum = $("#Scales").children().last().attr("id");
            var newrownum = parseInt(rownum) + 1;

            for (var i = 0; i < rowcontent.length; i++) {
                if (rowcontent[i] === "0") {
                    rowcontent = rowcontent.replace("0", newrownum);
                }
            }
            var selectcontent = $("#GraduatedScaleList_0__ChargeType").html();
            newdiv = $("<div></div>").addClass("row").attr("id", newrownum).append(rowcontent);
            newdivid = "#GraduatedScaleList_" + newrownum + "__ChargeType";
            $("#Scales").append(newdiv);
            $(newdivid).html(selectcontent);
            $("#GraduatedScaleList_" + newrownum + "__RangeLowerLimit").val("");
            $("#GraduatedScaleList_" + newrownum + "__RangeUpperLimit").val("");
            $("#GraduatedScaleList_" + newrownum + "__ChargeType").val("");
            $("#GraduatedScaleList_" + newrownum + "__ChargeValue").val("");
        }

        $("div").on("change",
            "[id$='MaximumCharge']",
            function () {
                var MaximumCharge = parseInt($(this).val());
                var MinimumCharge = parseInt($("#MinimumCharge").val());
                if ((MaximumCharge < MinimumCharge)) {
                    alert("The Maximum charge should be greater than the MinimumCharge");
                    $(this).val('');
                }
            });

        $("#Splits").on("change",
            ".percentages",
            function () {
                percentagesum = 0;
                $("#Splits .percentages").each(function () {
                    var value = this.value;
                    if (value != null && !isNaN(value)) {
                        percentagesum += parseInt(value);
                        $(".count").html("Total Percentage : " + percentagesum);
                    } else {
                        $("#newchargerowbutton").prop("disabled", true);
                    }
                });
                if (percentagesum > 100) {
                    $("#Next4").prop("disabled", true);
                    $("#newchargerowbutton").attr("disabled", true);
                    $("li.next a").attr("disabled", true);

                    $(".count").css("color", "red");
                } else if (percentagesum == 100) {
                    $("#newchargerowbutton").attr("disabled", true);
                    $("#Next4").prop("disabled", false);
                    $(".count").css("color", "green");
                } else {
                    $("#newchargerowbutton").attr("disabled", false);
                    $("#Next4").prop("disabled", true);
                    $(".count").css("color", "red");
                }
                $("#Splits .percentages").each(function () {
                    if (hasNoValue(this)) {
                        $("#newchargerowbutton").prop("disabled", true);
                        $("#Next4").prop("disabled", true);
                    }
                });
            });

        $("div").on("change",
            "[id$='RangeLowerLimit']",
            function () {
                var test = $(this).attr('name');
                var regex = /\d+/g;
                var matches = test.match(regex); // creates array from matches
                var id = "#GraduatedScaleList_" + matches + "__RangeUpperLimit";
                var prevrangeupperlimitid = matches - 1;
                var idofprevrangeupperlimit = "#GraduatedScaleList_" + prevrangeupperlimitid + "__RangeUpperLimit";
                var PreviousRangeUpperLimit = parseInt($(idofprevrangeupperlimit).val());

                var upper = $(id).attr('name');
                var RangeLowerLimit = parseInt($(this).val());
                var RangeUpperLimit = parseInt($(id).val());
                if ((RangeLowerLimit <= PreviousRangeUpperLimit)) {
                    alert("The Lower Limit of this graduated scale should be greater than the Upper Limit of the previous graduated scale");
                    $(this).val('');
                }
            });

        $("div").on("change",
            "[id$='RangeUpperLimit']",
            function () {
                var test = $(this).attr('name');
                var regex = /\d+/g;
                var matches = test.match(regex); // creates array from matches
                var id = "#GraduatedScaleList_" + matches + "__RangeLowerLimit";
                var prevrangeupperlimitid = matches - 1;

                var idofprevrangeupperlimit = "#GraduatedScaleList_" + prevrangeupperlimitid + "__RangeUpperLimit";

                var RangeUpperLimit = parseInt($(this).val());
                var RangeLowerLimit = parseInt($(id).val());

                var PreviousRangeUpperLimit = parseInt($(idofprevrangeupperlimit).val());

                if (RangeUpperLimit <= RangeLowerLimit) {
                    alert("The Upper Limit of this graduated scale should be greater than the Lower Limit of this graduated scale");
                    $(this).val('');
                }
            });

        function RemoveRow(object, id) {
            var rowid = id;
            if (rowid != "0") {
                $(object).closest(".row").remove();
            }
        }

        function addNewChargeSplitRow() {
            var rowcontent = $("#Splits").children().first(".row").html();

            var rownum = $("#Splits").children().last().attr("id");
            var newrownum = parseInt(rownum) + 1;
            for (var i = 0; i < rowcontent.length; i++) {
                if (rowcontent[i] == "0") {
                    rowcontent = rowcontent.replace("0", newrownum);
                }
            }
            var selectcontent = $("#ChargeSplitList_0__ChartOfAccountId").html()
            newdiv = $("<div></div>").addClass("row").attr("id", newrownum).append(rowcontent);
            newdivid = "#ChargeSplitList_" + newrownum + "__ChartOfAccountId";
            $("#Splits").append(newdiv);
            $(newdivid).html(selectcontent);

        }

        function RemoveChargeSplitRow(object, id) {
            var rowid = id;
            if (rowid != "0") {
                $(object).closest(".row").remove();
            }
        }
        $(document).ready(function () {

            $("#Scales").on("click", ".remove", function (e) {
                e.preventDefault();
                var rowid = $(this).attr("data-id");
                if (rowid != "0") {

                    $(this).closest(".row").remove();
                }
            });

            $("#Scales").on("change",
                ".percentages",
                function () {
                    percentagesum = 0;
                    $("#chargesplitrows .percentages").each(function () {
                        var value = this.value;
                        if (value != null && !isNaN(value)) {
                            percentagesum += parseInt(value);
                            $(".count").html("Total Percentage : " + percentagesum);
                        } else {
                            $("#newchargerowbutton").prop("disabled", true);
                        }
                    });
                    if (percentagesum > 100) {
                        $("#Next4").prop("disabled", true);
                        $("#newchargerowbutton").attr("disabled", true);
                        $("li.next a").attr("disabled", true);

                        $(".count").css("color", "red");
                    } else if (percentagesum == 100) {
                        $("#newchargerowbutton").attr("disabled", true);
                        $("#Next4").prop("disabled", false);
                        $(".count").css("color", "green");
                    } else {
                        $("#newchargerowbutton").attr("disabled", false);
                        $("#Next4").prop("disabled", true);
                        $(".count").css("color", "red");
                    }
                    $("#chargesplitrows .percentages").each(function () {
                        if (hasNoValue(this)) {
                            $("#newchargerowbutton").prop("disabled", true);
                            $("#Next4").prop("disabled", true);
                        }
                    });
                });

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // If the current step is the confirmation page run the confirm method
                    if (newIndex === 3) {
                        confirm();
                        //hide all buttons on the confirm step
                        $('input[type="button"]').hide();
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {

                    if (currentIndex !== 3) {
                        //hide all buttons on the confirm step
                        $('input[type="button"]').show();
                    }

                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    Key: {
                        required: true,
                        maxlength: 10,
                        minlength: 2
                    }
                }
                //messages: {
                //    Key: {
                //        required: "This field is required",
                //        maxlength: "This field only allows 10 characters",
                //        minlength: "This field require minimumum"
                //    }
                //}
            });

            function confirm() {
                //Charge Information Section
                $("#ChargeInfoConfirm").empty();
                $("#ChargeInfoOriginal").clone().appendTo("#ChargeInfoConfirm");

                //get original selects into a jq object
                var $originalSelects = $("#ChargeInfoOriginal").find('select');

                $("#ChargeInfoConfirm").find('select').each(function (index, item) {

                    //set new select to value of old select
                    $(item).val($originalSelects.eq(index).val());

                });
                $("#ChargeInfoConfirm :input").attr("disabled", true);

                //GraduatedScale Section
                $("#GraduatedScaleConfirm").empty();
                $("#GraduatedScaleOriginal").clone().appendTo("#GraduatedScaleConfirm");

                //get original selects into a jq object
                var $originalSelects = $("#GraduatedScaleOriginal").find('select');

                $("#GraduatedScaleConfirm").find('select').each(function (index, item) {

                    //set new select to value of old select
                    $(item).val($originalSelects.eq(index).val());

                });
                $("#GraduatedScaleConfirm :input").attr("disabled", true);



                //ChargeSplits Section
                $("#ChargeSplitsConfirm").empty();
                $("#ChargeSplitsOriginal").clone().appendTo("#ChargeSplitsConfirm");

                //get original selects into a jq object
                var $originalSelects = $("#ChargeSplitsOriginal").find('select');

                $("#ChargeSplitsConfirm").find('select').each(function (index, item) {

                    //set new select to value of old select
                    $(item).val($originalSelects.eq(index).val());

                });
                $("#ChargeSplitsConfirm :input").attr("disabled", true);

            }

        });
    </script>
}

