﻿@model Application.MainBoundedContext.DTO.AdministrationModule.NhifOrderDTO
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var chargeTypeSelectList = ViewBag.chargeTypesSelectList as List<SelectListItem>;

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nhifs</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Nhif", null)
            </li>
            <li class="breadcrumb-item active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Create Nhif</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                <i class="fa-fw fa fa-times"></i>
                            </button>
                            @TempData["Error"]
                        </div>
                    }
                    @using (Html.BeginForm("Create", "Nhif", FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>Nhif</h1>
                        <fieldset>
                            <div id="NhifOriginal">
                                <div class="row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control required", placeholder = "Description" } })
                                    </div>
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control", placeholder = "Location" } })
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                        <h1>GraduatedScales</h1>
                        <fieldset>
                            <div id="GraduatedScaleOriginal">
                                <h2>GraduatedScale</h2>
                                <div class="row" style="margin-bottom: 32px;">
                                    <div class="col-sm-12">
                                        <input type="button" class="btn btn-danger" id="newrowbutton" onclick="addNewRow()" value="+" />
                                    </div>
                                </div>
                                <div id="Scales">
                                    <div class="row" id="0">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NhifGraduatedScaleDTOsList[0].LowerLimit, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.NhifGraduatedScaleDTOsList[0].LowerLimit, new { @class = "form-control required" })
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NhifGraduatedScaleDTOsList[0].UpperLimit, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.NhifGraduatedScaleDTOsList[0].UpperLimit, new { @class = "form-control required" })
                                                @Html.ValidationMessageFor(model => model.NhifGraduatedScaleDTOsList[0].UpperLimit, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NhifGraduatedScaleDTOsList[0].Type, new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.NhifGraduatedScaleDTOsList[0].Type, chargeTypeSelectList, new { @class = "form-control ", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NhifGraduatedScaleDTOsList[0].Value, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.NhifGraduatedScaleDTOsList[0].Value, new { @class = "form-control required" })
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <br />
                                            <input type="button" class="btn btn-danger" style="vertical-align:baseline;color:white;margin-top:7px;" data-id="0" onclick="RemoveRow(this,this.getAttribute('data-id'))" value="-" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <h1>Finish</h1>
                        <fieldset>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                Nhif
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div id="NhifConfirm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    <style>
        .panel-heading .accordion-toggle:after {
            /* symbol for "opening" panels */
            font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
            content: "\e114"; /* adjust as needed, taken from bootstrap.css */
            float: right; /* adjust as needed */
            color: grey; /* adjust as needed */
        }

        .panel-heading .accordion-toggle.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\e080"; /* adjust as needed, taken from bootstrap.css */
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/dataTables")

    @Scripts.Render("~/bundle/custom/lookups/currency");

    <script type="text/javascript">

        function addNewRow() {
            var rowcontent = $("#Scales").children().first(".row").html();
            var rownum = $("#Scales").children().last().attr("id");
            var newrownum = parseInt(rownum) + 1;

            for (var i = 0; i < rowcontent.length; i++) {
                if (rowcontent[i] === "0") {
                    rowcontent = rowcontent.replace("0", newrownum);
                }
            }
            var selectcontent = $("#VehiclesList_0__Amount").html();
            var newdiv = $("<div></div>").addClass("row").attr("id", newrownum).append(rowcontent);
            newdivid = "#VehiclesList_" + newrownum + "__Amount";
            $("#Scales").append(newdiv);
            $(newdivid).html(selectcontent);
            $("#VehiclesList_" + newrownum + "__Topping").val("");
        }

        function RemoveRow(object, id) {
            var rowid = id;
            if (rowid != "0") {
                $(object).closest(".row").remove();
            }
        }

        $(document).ready(function () {

            $('#Day').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: 'dd-mm-yyyy',
                onSelect: function (d, i) {
                    if (d !== i.lastVal) {
                        $(this).change();
                    }
                }
            });

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // If the current step is the confirmation page run the confirm method
                    if (newIndex === 1) {
                        confirm();
                        //hide all buttons on the confirm step
                        $('input[type="button"]').hide();
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {

                    if (currentIndex !== 3) {
                        //hide all buttons on the confirm step
                        $('input[type="button"]').show();
                    }

                    // Suppress (skip) "Warning" step if the user is old enough.
                    //if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                    //    $(this).steps("next");
                    //}

                    //// Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    //if (currentIndex === 2 && priorIndex === 3) {
                    //    $(this).steps("previous");
                    //}
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    Key: {
                        required: true,
                        maxlength: 10,
                        minlength: 2
                    }
                }
                //messages: {
                //    Key: {
                //        required: "This field is required",
                //        maxlength: "This field only allows 10 characters",
                //        minlength: "This field require minimumum"
                //    }
                //}
            });

            var d = new Date();
            var currMonth = d.getMonth();
            var currYear = d.getFullYear();
            var startDate = new Date(currYear, currMonth, 1);

            $("#Day").datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                onSelect: function (d, i) {
                    if (d !== i.lastVal) {
                        $(this).change();
                    }
                }
            });
            $("#Day").datepicker("setDate", startDate);

            function confirm() {
                //Charge Information Section
                $("#NhifConfirm").empty();
                $("#NhifOriginal").clone().appendTo("#NhifConfirm");

                //get original selects into a jq object
                var $originalSelects = $("#NhifOriginal").find('select');

                $("#NhifConfirm").find('select').each(function (index, item) {

                    //set new select to value of old select
                    $(item).val($originalSelects.eq(index).val());

                });
                $("#NhifConfirm :input").attr("disabled", true);

            }

            $(document).ajaxStart(function () {
                $('.ibox').children('.ibox-content').toggleClass('sk-loading');
            });

            $(document).ajaxStop(function () {
                $('.ibox').children('.ibox-content').toggleClass('sk-loading');
            });

        });
    </script>
}

