﻿@using Infrastructure.Crosscutting.Framework.Utils
@using MvcApplication.Helpers
@model Application.MainBoundedContext.DTO.RegistryModule.EmployeeDTO
@{
    ViewBag.Title = "Employees Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var customerList = ViewBag.customerList as List<SelectListItem>;
}

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="col-sm-4">
        <h2>Employees Report</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Dashboard", "Dashboard", "Dashboard", new { Area = "" }, null)
            </li>
            <li class="active">
                <strong>Employees Report</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>@ViewBag.Title</h4>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group" id="data_5">
                                    <div class="input-daterange input-group" id="datepicker">
                                        <span class="input-group-addon">Start Date</span>
                                        @Html.TextBox("startDate", DateTime.Today.AddDays(-14).ToString("dd-MM-yyyy"), new { @class = "form-control-lg form-control" })
                                        <span class="input-group-addon">End Date</span>
                                        @Html.TextBox("endDate", DateTime.Today.ToString("dd-MM-yyyy"), new { @class = "form-control-lg form-control" })
                                    </div>
                                </div>

                            </div>
                            @if (User.Identity.IsUserInRole(new string[] { @Infrastructure.Crosscutting.Framework.Utils.EnumHelper.GetDescription(WellKnownUserRoles.SuperAdministrator) }))
                            {
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="input-group date">


                                            <label class="control-label input-group-addon">Customer : </label>
                                            @Html.DropDownListFor(model => model.CustomerId, customerList, new { @class = "form-control required", @id = "CustomerId" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" id="process">Process <i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" name="CustomerId" value="@ViewBag.customerId" id="CustomerId" />
                            }

                        </div>
                    </div>

                    <input type="hidden" name="id" id="id" />
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-times"></i>
                            <strong>Error!</strong> @TempData["Error"]
                        </div>
                    }

                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success fade in">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-check"></i>
                            <strong>Success!</strong> @TempData["Success"]
                        </div>
                    }

                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="Grid" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="dataTables_empty">
                                                Loading data from server
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")


    <script type="text/javascript">

        $(document).ready(function () {


            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: 'dd-mm-yyyy',
                onSelect: function (d, i) {
                    if (d !== i.lastVal) {
                        $(this).change();
                    }
                }
            });

            var grid = $('#Grid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Action("Employees", "Reports", new {Area = "Analytics" })",
                    "sServerMethod": "POST",
            // Callback settings
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            /* row manipulation */
                var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + createdDate.getHours()).slice(-2);
                var m = ("0" + createdDate.getMinutes()).slice(-2);
                var s = ("0" + createdDate.getSeconds()).slice(-2);

                var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

                var dateOfBirth = new Date(parseInt(aData.DateOfBirth.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + dateOfBirth.getHours()).slice(-2);
                var m = ("0" + dateOfBirth.getMinutes()).slice(-2);
                var s = ("0" + dateOfBirth.getSeconds()).slice(-2);

                var dt_dateOfBirth = $.datepicker.formatDate('dd/mm/yy', dateOfBirth) + " " + h + ":" + m + ":" + s;

                var dateOfEmployment = new Date(parseInt(aData.DateOfEmployment.replace("/Date(", "").replace(")/", ""), 10));

                var h = ("0" + dateOfEmployment.getHours()).slice(-2);
                var m = ("0" + dateOfEmployment.getMinutes()).slice(-2);
                var s = ("0" + dateOfEmployment.getSeconds()).slice(-2);

                var dt_dateOfEmployment = $.datepicker.formatDate('dd/mm/yy', dateOfEmployment) + " " + h + ":" + m + ":" + s;

                $('td:eq(10)', nRow).html(dt_dateOfBirth);

                $('td:eq(12)', nRow).html(dt_dateOfEmployment);

                $('td:eq(13)', nRow).html(dt_Created);

                return nRow;
                },
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "CustomerId", "value": $("#CustomerId").val() });
                    aoData.push({ "name": "startDate", "value": $("#startDate").val() });
                    aoData.push({ "name": "endDate", "value": $("#endDate").val() });
            },
            // Display settings
            "iDisplayLength": 10,
            "aaSorting": [[0, 'desc']],
                "aoColumns": [
                    { "mDataProp": "FullName", "sTitle": "FullName" },
                    { "mDataProp": "UserName", "sTitle": "UserName" },
                    { "mDataProp": "RecordStatusDesc", "sTitle": "Status" },
                    { "mDataProp": "GenderDesc", "sTitle": "Gender" },
                    { "mDataProp": "IdNumber", "sTitle": "Id Number" },
                    { "mDataProp": "DepartmentDesc", "sTitle": "Department" },
                    { "mDataProp": "PhoneNumber", "sTitle": "Phone Number" },
                    { "mDataProp": "NSSFNumber", "sTitle": "NSSF Number" },
                    { "mDataProp": "NHIFNumber", "sTitle": "NHIF Number" },
                    { "mDataProp": "JobNumber", "sTitle": "Job Number" },
                    { "mDataProp": "DateOfBirth", "sTitle": "Date Of Birth" },
                    { "mDataProp": "KRAPin", "sTitle": "KRA Pin" },                    
                    { "mDataProp": "DateOfEmployment", "sTitle": "Date of Employment" },
                    { "mDataProp": "CreatedDate", "sTitle": "Created Date" }
                ],

                "dom": '<"html5buttons"B>lTfgitp',
                "buttons": [
                    { extend: 'csv', title: 'Employees' },
                    { extend: 'excel', title: 'Employees' },
                    { extend: 'pdf', title: 'Employees' }

                ],
                "lengthMenu": [[10, 25, 50, 100, 250, 500, 1000], [10, 25, 50, 100, 250, 500, 1000]]

            });

            $('#data_5 .input-daterange').change(function () {
                $.ajaxSetup({
                    //set global to TRUE so ajax is registered with page event handlers(blockUI in our case).
                    global: true,
                });
                $('#Grid').DataTable().ajax.reload();
            });

            $('#process').click(function () {
                $('#Grid').DataTable().ajax.reload();
            });

            $("#Grid_filter input").unbind();

            $("#Grid_filter input").keyup(function (e) {

                var value = this.value;

                if (value.length >= 5) {

                    $("#Grid").dataTable().fnFilter(this.value);
                }
            });

        });



        $(document).ajaxStart(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
        $(document).ajaxStop(function () {
            $('.ibox').children('.ibox-content').toggleClass('sk-loading');
        });
    </script>
}